<!DOCTYPE html>
<html lang="ko-KR">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="format-detection" content="telephone=no">
	<title>누리펀딩</title>
	<link rel="shortcut icon" href="https://nurifunding.co.kr/img/32x32.ico">
	<link rel="canonical" href="www.nurifunding.co.kr">

	<link rel="stylesheet" href="https://nurifunding.co.kr/static/fonts/NanumBarunGothic/nanumbarungothic.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--css 추가-->
	<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/animate.css">
	<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/jquery.bxslider.css">

	<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/reset.css">
	
	<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/override_v2.0.0.css">
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/common_v2.0.0.css">
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/index_v2.0.0.css">

	<!-- <link rel="stylesheet" href="../static/css/override_v2.0.0.css">
	<link rel="stylesheet" href="../static/css/common_v2.0.0.css">
	<link rel="stylesheet" href="../static/css/index_v2.0.0.css"> -->

	<!--js 플러그인 관련(css, js) 추가-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
	
	<script type="text/javascript" src="https://nurifunding.co.kr/static/js/jquery-1.10.2.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
	<script type="text/javascript" src="https://nurifunding.co.kr/static/js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="https://nurifunding.co.kr/static/js/waypoints.min.js"></script>
	<script type="text/javascript" src="https://nurifunding.co.kr/static/js/jquery.easing.min.js"></script>
	<!--<script type="text/javascript" src="https://nurifunding.co.kr/static/js/jquery.lazyload.min.js"></script>-->
	<!-- <script type="text/javascript" src="https://nurifunding.co.kr/static/js/jquery.animateNumber.min.js"></script> -->
	<!--<script type="text/javascript" src="https://nurifunding.co.kr/static/js/components_custom.js"></script>-->

	<script type="text/javascript" src="https://nurifunding.co.kr/static/js/common_v2.0.0.js"></script>
	<script type="text/javascript" src="https://nurifunding.co.kr/static/js/index_v2.0.0.js"></script>
	<!-- <script type="text/javascript" src="../static/js/common_v2.0.0.js"></script>
	<script type="text/javascript" src="../static/js/index_v2.0.0.js"></script> -->

	<!-- <link rel="stylesheet" href="../static/css/common_v2.0.0_ie9lt.css"> -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="../static/js/ie9_lt.js"></script>

		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

  <!-- <script type="text/javascript" src="http://localhost:35729/livereload.js"></script> -->
</head>

<body>
	<h1 class="skip">누리펀딩</h1>
	<div class="wrap" id="wrap">
		<!-- 일반 해더 -->
		<header class="header" id="header">
			<div class="gnb">
				<div class="group inner">
					<div class="navbar-header">
						<button type="button" class="nav-tab show-smxs" aria-label="모바일 메뉴 토글버튼" title="모바일 메뉴 토글버튼">
	                        <span class="icon-bar b1"></span>
	                        <span class="icon-bar b2"></span>
	                        <span class="icon-bar b3"></span>
	                    </button>
						<h2><a href="./index.html" class="navbar-brand"><img src="https://nurifunding.co.kr/img/logo.png" alt="누리펀딩로고"></a></h2>
						<a href="mypage/mypage_01.html" class="my-tab show-smxs"><img src="https://nurifunding.co.kr/img/renew/common/icon/icon_member.png" alt="마이페이지"></a>
					</div>
					<div class="bg-drop"></div>
					<nav class="navbar-collapse" id="navbar-collapse">
						<h1 class="sr-only">GNB</h1>
						
						<div class="nc-header hidden-mdlg">
							<div class="nc-logobar">
								<a href="./index.html" class="nc-logo"><img src="https://nurifunding.co.kr/img/lnb_logo.png" alt="누리펀딩"></a>
								<a href="javascript:;" class="cls-btn"><img src="https://nurifunding.co.kr/img/cls_icon.png" alt="닫기"></a>
							</div>
							<!-- 190412 -->
							<!-- 로그인 전 -->
							<div class="nc-login">
								<p>지금 바로 로그인하고</p>
								<p>누리펀딩의 투자서비스를 이용하세요!</p>
								<p class="nth-3"><a href="login/index.html">로그인</a><a href="join/join_01.html" class="nth-2">회원가입</a></p>
							</div>
							<!-- 로그인 후 -->
							<!-- <div class="nc-login">
								<p>전형진님 안녕하세요.</p>
								<p>누리펀딩입니다.  <a href="javascript:;" class="lgout">로그아웃 <img class="img-lock" src="https://nurifunding.co.kr/img/icon/ic_lock.png" alt="로그아웃"></a></p>
								<p class="nth-3">
									<a href="">나의투자</a>
									<a href="">자동투자</a>
									<a href="">회원정보</a>
									<a href="">계좌정보</a>
								</p>
							</div> -->
						</div>
						<!-- login시 status-login 클래스 추가 -->
						<ul class="menu clearfix status-login">
							<li class="big"><a href="loan/loan_00.html">대출신청</a>
								<div class="menu2 big hidden-smxs cf">
									<div class="menu2big-item item-1">· 대출받기</div>
									<div class="menu2big-item item-2">
										<span class="c-1">간편하게 신청하고, 빠르게 받는 누리펀딩 대출!</span><br>
										개인과 기업에게 필요 자금을 지원해 드리는<br> 서비스로
										투자자와 대출자 모두가 만족할 수 있는 금융 서비스 입니다.
									</div>
									<a href="loan/loan_00.html" class="menu2big-item item-3"><span>바로<br>가기</span></a>
								</div>
							</li>
							<li class="big"><a href="invest/invest_01.html">투자하기</a>
								<div class="menu2 big hidden-smxs cf">
									<div class="menu2big-item item-1">· 투자하기</div>
									<div class="menu2big-item item-2">
										<span class="c-1">연 10%대의 고금리 혜택을 누리세요!</span><br>
										NiceCredit을 기반으로 한 자체 신용평가와 전문가가 분석한<br> 상품설명서로
										투자상품을 쉽게 이해할 수 있습니다.
									</div>
									<a href="invest/invest_01.html" class="menu2big-item item-3"><span>바로<br>가기</span></a>
								</div>
							</li>
							<li class="big"><a href="miripay/index.html" class="c-blue">미리페이</a>
								<div class="menu2 big hidden-smxs cf">
									<div class="menu2big-item item-1">· 미리페이</div>
									<div class="menu2big-item item-2">
										<span class="c-1">보유하신 매출 채권으로 필요자금을 긴급지원 받으세요!</span><br>
										쿠팡, 티몬, 위메프 등 온라인쇼핑몰과 결제사(PG)의<br> 매출채권(지급예정금액)을
										담보로 선정산을 미리 받을 수 있습니다.
									</div>
									<a href="miripay/index.html" class="menu2big-item item-3"><span>바로<br>가기</span></a>
								</div>
							</li>
							<!-- <li class="big"><a href="#none" class="c-blue" onclick="alert('서비스 준비중입니다.')">누리워드</a>
								<div class="menu2 big hidden-smxs cf">
									<div class="menu2big-item item-1">· 누리워드</div>
									<div class="menu2big-item item-2">
										<span class="c-1">세상을 바꾸는 아이디어에 주목합니다.</span><br>
										당신의 오랜 꿈과 당신의 열정적인 노력을 응원하는 우리가 있습니다.<br>
										기부와 리워드를 통해 새로운 프로젝트를 가장 먼저 소개할 수 있습니다.
									</div>
									<a href="#none" onclick="alert('서비스 준비중입니다.')" class="menu2big-item item-3"><span>바로<br>가기</span></a>
								</div>
							</li> -->
							<li class="hidden-smxs hidden-margin"></li>
							<li><a href="javascript:;">회사소개/IR</a>
								<ul class="menu2">
									<li class="vline-1 hidden-smxs"></li>
									<li class="vline-2 hidden-smxs"></li>
									<li><a href="service/index.html">회사소개</a></li>
									<li><a href="service/index_rep.html">대표이사 소개</a></li>
									<li><a href="service/index_ir.html">기업 IR</a></li>
								</ul>
							</li>
							<li><a href="javascript:;">이용안내</a>
								<ul class="menu2">
									<li class="vline-1 hidden-smxs"></li>
									<li><a href="">FAQ</a></li>
									<li><a href="">공지사항</a></li>
									<li><a href="">자료실</a></li>
								</ul>
							</li>
							<!-- 비 로그인 경우 -->
 							<!-- <li class="btn hidden-smxs"><a href="" class="btn-cmm btn-white login">로그인</a></li>
							<li class="btn hidden-smxs"><a href="" class="btn-cmm btn-blue join">회원가입</a></li> -->
							<!-- 로그인 경우 -->
							<li class="myinfo hidden-smxs">
								<a class="c-blue" href="mypage/mypage_01.html"><img src="https://nurifunding.co.kr/img/renew/common/icon/icon_member_on.png" alt="내정보아이콘" class="icon">내정보</a>
								<ul class="menu2">
									<li class="vline-1 hidden-smxs"></li>
									<li><a href="myinvest/index.html">나의투자정보</a></li>
									<li><a href="autoinv/">자동투자 설정</a></li>
									<li><a href="">계좌정보</a></li>
									<li><a href="mypage/mypage_01.html">회원정보수정</a></li>
									<li><a href="">로그아웃</a></li>
								</ul>
							</li>
							<!-- <li><a href="autoinv/index.html">자동투자 <span class="ic-new">NEW</span></a></li> -->
						</ul>
						<div class="menu2-bg hidden-smxs" id="menu2Bg">
							<div class="group inner">
								<div class="autoinv-box cf" id="autoinvBox">
									<div class="autoinv-item item-1">
										<p class="autoinv-tit"><em>자동투자 설정</em>으로 투자시간을 절약하세요! <span class="ic-new">NEW</span></p>
										<p class="autoinv-txt">
											신규 선정산 상품이 나올 때마다 설정한 금액이 <em>자동 투자되는</em><br>
											<em>맞춤형 간편투자</em> 서비스 '자동투자'로 투자 스트레스에서 벗어나세요!
										</p>
									</div>
									<div class="autoinv-item item-2">
										<span>자세히 보기</span>
									</div>
								</div>
							</div>
						</div>
					</nav>
				</div>
				<script>
					
				</script>
			</div>
			<!-- 홈/나의 투자 페이지: fixed, 상품목록/상품상세/투자하기 페이지: relat 클래스 추가-->
			<div class="topbn hidden-mdlg fixed">
				<a href="https://www.nurifunding.co.kr/member/auto.php" class="bnbar"><img src="https://www.nurifunding.co.kr/img/banner/banner_auto1_m.png" alt="선정산 상품 자동투자기능 오픈" class="bnimg"></a>
			</div>
		</header>
		<!-- /.header -->

		<div class="contents home">
			<!--변경내용 메인슬라이드-->
			<section class="sec main" id="main">
				<h1 class="sr-only">누리펀딩 버킷리스트 누리펀딩 이자면 가능하다! 펀딩 버킷리스트를 만들어보세요</h1>
				<div class="main-box swiper-container">
					<ul class="swiper-wrapper" id="main-slider">
						<li class="swiper-slide slide-1 bg-1">
							<img src="https://nurifunding.co.kr/img/renew/main/m_bnr_01.png" alt="대출도 투자도 모두 다 누리펀딩" class="img show-mdlg">
							<img src="https://nurifunding.co.kr/img/renew/m/main/m_bnr_01.png" alt="대출도 투자도 모두 다 누리펀딩" class="img show-smxs">
						</li>
						<li class="swiper-slide slide-2 bg-1">
							<img src="https://nurifunding.co.kr/img/renew/main/m_bnr_02.png" alt="누리펀딩버킷리스트" class="img show-mdlg">
							<img src="https://nurifunding.co.kr/img/renew/m/main/m_bnr_02.png" alt="누리펀딩버킷리스트" class="img show-smxs">
						</li>
						<!-- <li class="swiper-slide slide-3 bg-1">
							<a href="https://www.nurifunding.co.kr/notice/view.php?var=EUw=&page=1"><img src="https://nurifunding.co.kr/img/renew/main/m_bnr_03.png" alt="누리펀딩이용후기이벤트" class="img show-mdlg"></a>
							<a href="https://www.nurifunding.co.kr/notice/view.php?var=EUw=&page=1"><img src="https://nurifunding.co.kr/img/renew/m/main/m_bnr_03.png" alt="누리펀딩이용후기이벤트" class="img show-smxs"></a>
						</li> -->
					</ul>
					<div class="group abs show-mdlg">
						<ul class="certi-list">
							<li><img src="https://nurifunding.co.kr/img/renew/main/m_certify.png" alt=""></li>
							<li><img src="https://nurifunding.co.kr/img/renew/main/m_certify_01.png" alt=""></li>
							<li><img src="https://nurifunding.co.kr/img/renew/main/m_certify_02.png" alt=""></li>
						</ul>
					</div>
				</div>
				<div class="quick-bar">
					<div class="group-f inner">
						<div class="box box-1">
							<a href="javascript:;" class="fst hidden-smxs" role="button"><span class="sr-only">처음방문자안내</span></a>
							<a href="#this" class="fst-guide hidden-mdlg" data-toggle="modal" data-target="modal-fstvisit" role="button">
								<p class="p-1">처음 방문<br>하셨나요?</p>
								<p class="p-2">성공 투자를 위한<br>첫걸음</p>
							</a>
						</div>
						<div class="box box-2">
							<h2 class="hidden-smxs">바로가기</h2>						
							<ul class="list">
								<li>
									<a href="https://www.nurifunding.co.kr/member/myinvest.php">
										<figure>
											<img src="https://nurifunding.co.kr/img/renew/main/m_icon_quick_01.png" alt="퀵메뉴01">
											<figcaption><span class="hidden-xxs">나의 </span>투자현황</figcaption>
										</figure>
									</a>
								</li>
								<li>
									<a href="https://www.nurifunding.co.kr/mydeposit/">
										<figure>
											<img src="https://nurifunding.co.kr/img/renew/main/m_icon_quick_02.png" alt="퀵메뉴02">
											<figcaption>출금하기</figcaption>
										</figure>
									</a>
								</li>
								<li>
									<a href="https://www.nurifunding.co.kr/member/auto.php">
										<figure>
											<img src="https://nurifunding.co.kr/img/renew/main/m_icon_quick_03.png" alt="퀵메뉴03">
											<figcaption>자동투자 <span class="hidden-xxs">설정</span></figcaption>
										</figure>
									</a>
								</li>
								<li>
									<a href="">
										<figure>
											<img src="https://nurifunding.co.kr/img/renew/main/m_icon_quick_04.png" alt="퀵메뉴04">
											<figcaption>이용안내</figcaption>
										</figure>
									</a>
								</li>
							</ul>
						</div>
						<div class="box box-3 hidden-smxs">
							<h2>새소식 <a href="https://www.nurifunding.co.kr/notice/" class="more-btn"><img src="https://nurifunding.co.kr/img/renew/main/m_btn_more.png" alt="더보기"></a></h2>
							<ul class="list">
								<li class="cf"><a href="https://www.nurifunding.co.kr/miripay/" class="tit">[공지] 누리펀딩, 선정산 서비스 '미리페이'출시</a><span class="create-at">2019.05.20</span></li>
								<li class="cf"><a href="https://www.nurifunding.co.kr/miripay/" class="tit">[공지] 누리펀딩, 선정산 서비스 '미리페이'출시</a><span class="create-at">2019.05.20</span></li>
								<li class="cf"><a href="https://www.nurifunding.co.kr/miripay/" class="tit">[공지] 누리펀딩, 선정산 서비스 '미리페이'출시</a><span class="create-at">2019.05.20</span></li>
							</ul>
						</div>
						<div class="box box-3 hidden-mdlg">
							<span class="tt">공지</span> <span class="t">누리펀딩, 선정산 서비스 '미리페이' 출시</span>
						</div>
						<div class="box-1-2 hidden-smxs">
							<div class="incell">
								<img src="https://nurifunding.co.kr/img/renew/main/bnr_startguide.jpg" alt="성공투자를위한첫걸음 투자시작하기">
								<a href="https://www.nurifunding.co.kr/invest/" class="btn-start"><span class="sr-only">투자하기</span></a>
							</div>
						</div>
					</div>
				</div>
				<!-- /.quick-bar -->
			</section>
			<!-- /.main -->
			<section class="sec ingProduct" id="ingProduct">
				<div class="group inner">
					<h1 class="com-ft">진행중인 투자상품 <a href="https://www.nurifunding.co.kr/invest/" class="more-btn">전체보기 <span class="ic-rArrow"></span></a></h1>
					<!--변경내용 id추가-->
					<div class="swiper-container ip-container">
						<div class="swiper-wrapper row ip-wrap">
							<!-- 상태별 클래스 진행중: start, 대기: wait, 완료: end -->
							<div class="swiper-slide ip-outer start">
								<div class="ip-box">
									<div class="ip-top">
										<span class="pdt-no">242호</span>
										<span class="status">진행중</span>
										<span class="date">19.04.30 16시 ~ 19.05.03 14시</span>
									</div>
									<h2 class="iph3">247호, 소셜오픈마켓(쿠팡 등 모든 쇼핑몰) 매출채권 선정산(미리페이)</h2>
									<ul class="ip-inner">
										<li class="nth-1 clearfix">
											<p class="pull-left">예상수익률</p>
											<p class="pull-right">10.0%</p>
										</li>
										<li class="nth-2 clearfix">
											<p class="pull-left">기간</p>
											<p class="pull-right">2개월</p>
										</li>
										<li class="nth-3 clearfix">
											<p class="pull-left">상환방식</p>
											<p class="pull-right">만기일시상환</p>
										</li>
										<li class="nth-4 clearfix">
											<p class="pull-left">모집현황</p>
											<p class="pull-right">2,310 / 3,500만원</p>
										</li>
									</ul>
									<div class="per-bar">
										<p class="bar" style="width: 80.61%"></p>
										<span class="per">80.61%</span>
									</div>
									<div class="row-status">투자가능 금액: <span class="c-blue">1,190만원</span></div>
									<p class="btn-box"><a href="" class="btn btn-invest br4">투자하기</a></p>

									<div class="bg-cover"><div class="tbl"><div class="cell"><span class="in">판매완료</span></div></div></div>
								</div>
							</div>
							<!-- /.ip-outer -->
							<div class="swiper-slide ip-outer wait">
								<div class="ip-box">
									<div class="ip-top">
										<span class="pdt-no">242호</span>
										<span class="status">진행중</span>
										<span class="date">19.04.30 16시 ~ 19.05.03 14시</span>
									</div>
									<h2 class="iph3">247호, 소셜오픈마켓(쿠팡 등 모든 쇼핑몰) 매출채권 선정산(미리페이)</h2>
									<ul class="ip-inner">
										<li class="nth-1 clearfix">
											<p class="pull-left">예상수익률</p>
											<p class="pull-right">10.0%</p>
										</li>
										<li class="nth-2 clearfix">
											<p class="pull-left">기간</p>
											<p class="pull-right">2개월</p>
										</li>
										<li class="nth-3 clearfix">
											<p class="pull-left">상환방식</p>
											<p class="pull-right">만기일시상환</p>
										</li>
										<li class="nth-4 clearfix">
											<p class="pull-left">모집현황</p>
											<p class="pull-right">2,310 / 3,500만원</p>
										</li>
									</ul>
									<div class="per-bar">
										<p class="bar" style="width: 0"></p>
										<span class="per">0%</span>
									</div>
									<div class="row-status">투자가능 금액: <span class="c-blue">1,190만원</span></div>
									<p class="btn-box"><a href="" class="btn btn-invest br4">투자시작: 00:34:10</a></p>

									<div class="bg-cover"><div class="tbl"><div class="cell"><span class="in">판매완료</span></div></div></div>
								</div>
							</div>
							<!-- /.ip-outer -->
							<div class="swiper-slide ip-outer end">
								<div class="ip-box">
									<div class="ip-top">
										<span class="pdt-no">242호</span>
										<span class="status">진행중</span>
										<span class="date">19.04.30 16시 ~ 19.05.03 14시</span>
									</div>
									<h2 class="iph3">247호, 소셜오픈마켓(쿠팡 등 모든 쇼핑몰) 매출채권 선정산(미리페이)</h2>
									<ul class="ip-inner">
										<li class="nth-1 clearfix">
											<p class="pull-left">예상수익률</p>
											<p class="pull-right">10.0%</p>
										</li>
										<li class="nth-2 clearfix">
											<p class="pull-left">기간</p>
											<p class="pull-right">2개월</p>
										</li>
										<li class="nth-3 clearfix">
											<p class="pull-left">상환방식</p>
											<p class="pull-right">만기일시상환</p>
										</li>
										<li class="nth-4 clearfix">
											<p class="pull-left">모집현황</p>
											<p class="pull-right">2,310 / 3,500만원</p>
										</li>
									</ul>
									<div class="per-bar">
										<p class="bar" style="width: 100%"></p>
										<span class="per">100%</span>
									</div>
									<div class="row-status">투자가능 금액: <span class="c-blue">1,190만원</span></div>
									<p class="btn-box"><a href="" class="btn btn-invest br4">투자하기</a></p>

									<div class="bg-cover"><div class="tbl"><div class="cell"><span class="in">판매완료</span></div></div></div>
								</div>
							</div>
							<!-- /.ip-outer -->
						</div>

						<div class="swiper-pagination hidden-mdlg"></div>
					</div>
					<!-- 개발 요청: 버튼 클릭시 상품이 더 노출되도록 불러오기 -->
					<div class="row row-btn hidden-smxs">
						<a href="javascript:;" class="btn-more"><span class="ic-bArrow"><span class="sr-only" role="button">상품더보기</span></span></a>
					</div>
				</div>
			</section>
			<!-- /.ingProduct -->
			<section class="sec rate">
				<h1 class="sr-only">누적 상황</h1>
				<div class="group inner">
					<div class="row">
						<div class="rr nth-1">
							<h2 class="r-f">누적 상환액</h2>
							<p class="r-f2"><span id="n1">67억 7,039</span> 만원</p>
						</div>
						<div class="rr nth-2">
							<h2 class="r-f">대출잔액</h2>
							<p class="r-f2"><span id="n2">12억 4,726</span> 만원</p>
						</div>
						<div class="rr nth-3">
							<h2 class="r-f">누적대출 취급액</h2>
							<p class="r-f2"><span id="n3">80억 1,765</span> 만원</p>
						</div>
						<div class="rr nth-4">
							<h2 class="r-f">평균금리</h2>
							<p class="r-f2"><span id="n4">11.08</span>%</p>
						</div>
						<div class="rr nth-5">
							<h2 class="r-f">
								연체율
								<span class="q-w">
									<span class="q">?
										<span class="q-t">
											약정된 상환이 일부<br>
											혹은 전부 지연되기<br>
											시작해 30일 이상, 90일<br>
											미만 경과한 대출<br><br>
											연체율 = 연체잔여원금<br>
											/ 대출잔여금<br>
											(P2P금융협회기준)
										</span>
									</span> 
								</span>
							</h2>
							<p class="r-f2"><span id="n5">0</span>%</p>
						</div>
					</div>
					<div class="row-cmt">※ 2018년 6월 현재 기준</div>
				</div>
			</section>
			<!-- /.rate -->
			<section class="sec easy" id="easy">
				<div class="group inner">
					<div class="split split-1">
						<h1 class="com-ft">웹 보안 + 금융 노하우 + 법률 자문<br>P2P 금융의 최고의 인력</h1>
						<p class="p-1">누리펀딩의 30년의 금융 전문 노하우와<br class="hidden-mdlg"> 웹보안 기술력으로<br>안전한 정보관리와 안심거래가 가능합니다.</p>
						<div class="row-btn hidden-smxs"><a href="https://www.nurifunding.co.kr/service/" class="btn-detail">자세히 보기</a></div>
					</div>

					<div class="split split-2">
						<div class="box nth-1">
							<h2><strong>IT전문기업의</strong> 개인 정보 유출 방지</h2>
						</div>
						<div class="box nth-2">
							<h2><strong>금융 전문가의</strong> 여신심사 금융 노하우</h2>
						</div>
						<div class="box nth-3">
							<h2><strong>변호사</strong> 계약서 법률 검토</h2>
						</div>
					</div>

					<div class="row-btn hidden-mdlg"><a href="https://www.nurifunding.co.kr/service/" class="btn-detail">자세히 보기</a></div>
				</div>
			</section>
			<!-- /.easy -->
			<section class="sec benefit">
				<div class="group inner">
					<div class="split split-1">
						<h1 class="com-ft">고금리 혜택과 리스크 관리</h1>
						<p class="p-1">
							P2P 투자는 수익률이 먼저? NO!<br>
							누리펀딩은 고금리 혜택은 물론<br>
							원금을 지키는 리스크 관리도 소중하게 생각합니다.
						</p>
						<div class="row-btn hidden-smxs"><a href="https://www.nurifunding.co.kr/service/" class="btn-detail">자세히 보기</a></div>
					</div>
					<div class="split split-2">
						<!--차트-->
						<div class="cf per-chart" id="per-chart">
							<div class="box nth-1">
								<p class="p-per"><span id="p-per1">1.56</span>%</p>
								<p class="p-chart"></p>
								<p class="p-tit">예금 금리</p>
							</div>
							<div class="box nth-2">
								<p class="p-per"><span id="p-per2">1.89</span>%</p>
								<p class="p-chart"></p>
								<p class="p-tit">국고채 (5년물)</p>
							</div>
							<div class="box nth-3">
								<p class="p-per"><span id="p-per3">5.61</span>%</p>
								<p class="p-chart"></p>
								<p class="p-tit">KOSPI</p>
							</div>
							<div class="box nth-4 box-nuri">
								<p class="p-per"><span id="p-per5">11.06</span>%</p>
								<p class="p-chart"></p>
								<p class="p-tit">누리펀딩</p>
							</div>
							<div class="tooltip">최소 2배 이상의 안정적인 수익률</div>
						</div>

						<div class="row-cmt">
							※ 은행연합회, 금융투자협회, 저축은행중앙회, 누리펀딩 (2018년 6월 현재)
						</div>

						<div class="row-btn hidden-mdlg"><a href="https://www.nurifunding.co.kr/service/" class="btn-detail">자세히 보기</a></div>
					</div>

				</div>
			</section>
			<!-- /.benefit -->

			<section class="sec bn-account">
				<h1 class="sr-only">누리펀딩 투자의 첫 걸음! 투자를 위한 계좌를 등록하세요.</h1>
				<div class="group">
					<a href="https://www.nurifunding.co.kr/member/account.php">
						<div class="img-account hidden-mdlg" role="img">
							<p class="sr-only">누리펀딩 투자의 첫 걸은! 투자를 위한 계좌를 등록하세요.</p>
						</div>
						<img src="https://nurifunding.co.kr/img/renew/main/m_bnr_s_01.jpg" alt="계좌등록하기" class="hidden-smxs">
						<!-- <img src="https://nurifunding.co.kr/img/renew/main/m_bnr_s_01.jpg" alt="계좌등록하기"> -->
					</a>
				</div>
			</section>
			<!-- /.bn-account -->
			
			<section class="sec faq" id="faq">
				<div class="group inner">
					<h1 class="com-ft">자주하는 질문</h1>
					<div class="row fq-wrap">
						<div class="fq-outer">
							<div class="fq-box br4">
								<h2 class="fq-q"><span class="arr-icon q-icon"></span>누리펀딩은 어떻게 만들어졌나요?</h2>
								<p class="fq-a"><span class="arr-icon a-icon"></span>30년 경력 탄탄한 금융 전문가와 토탈 IT 서비스 전문 기업으로10년 동안 온라인 사이트의 보안을 책임져온 ㈜이비즈네트웍스가 누리펀딩에서 만났습니다.</p>
							</div>
						</div>

						<div class="fq-outer">
							<div class="fq-box br4">
								<h2 class="fq-q"><span class="arr-icon q-icon"></span>대출 신청 자격 요건은 무엇인가요?</h2>
								<p class="fq-a"><span class="arr-icon a-icon"></span>기업과 개인 신용등급이 낮은 경우에도 대출취급이 가능하나 담보물 가치에 따라 대출금액이 제한 됩니다.</p>
							</div>
						</div>
						<div class="fq-outer">
							<div class="fq-box br4">
								<h2 class="fq-q"><span class="arr-icon q-icon"></span>누리여신평가 등급이 무엇인가요?</h2>
								<p class="fq-a"><span class="arr-icon a-icon"></span>누리펀딩이 개발한 알고리즘을 바탕으로 채무자의 신용등급과 담보 가치를 결합한 여신평가 등급입니다.</p>
							</div>
						</div>
					</div>

					<div class="row row-btn"><a href="https://www.nurifunding.co.kr/faq/" class="btn-more">질문 전체 보러가기</a></div>
				</div>
			</section>
			<!-- /.faq -->
			
			<!-- 190415 -->
			<!-- 메인, 내정보, 투자하기 페이지 -->
			<!-- <div class="side-banner">
				<a href="https://www.nurifunding.co.kr/member/auto.php"><img src="https://www.nurifunding.co.kr/img/banner/banner_auto1_pc.png" alt="선정산 상품 자동투자 기능 오픈!" /></a>
			</div> -->
			<!-- // -->

			<!-- <div class="side-banner">
				<a href="#none" class="hidden-mdlg"><img src="https://nurifunding.co.kr/img/side_banner_01.png" alt="카카오톡 플러스 친구" /></a>
				<a href="#none"><img src="https://nurifunding.co.kr/img/side_banner_02.jpg" alt="가상계죄개설시1만원지급" /></a>
			</div>
			<script>
				$(function() {
					var scrNum = 300
					$(window).scroll(function() {
						var scr = $(window).scrollTop();
						// console.log(scr + ", " + relativeScr);
						if (scr > scrNum) {
							$(".side-banner").fadeOut();
						} else {
							$(".side-banner").fadeIn();
						}
						
					});
				});
			</script> -->
		</div>
		<!-- /.contents.home -->

		<footer class="footer">
			<div class="cf term-area">
				<div class="group inner">
					<a href="/service/" class="link">회사소개</a>
					<a href="/policy/service.php" class="link">서비스이용약관</a>
					<a href="/policy/invest.php" class="link">투자이용약관</a>
					<a href="/policy/policy.php" class="link">개인정보취급방침</a>
					<a href="/policy/basic.php" class="link">대부거래기본약관</a>
					<!-- <a href="javascript:;" class="link">고객센터</a> -->
				</div>
			</div>
			<div class="cf contact-area">
				<div class="group inner">
					<a href="javascript:;" class="logo hidden-smxs"><img src="https://nurifunding.co.kr/img/renew/common/logo_f.png" alt="푸터로고"></a>
					<span class="s-box">
						<span class="s-1">고객센터</span>
						<span class="s-2">1666-4570</span>
						<span class="s-3">(운영시간: 평일: 09시~18시 / 점심: 13시~14시)</span>
					</span>
					<a href="https://www.nurifunding.co.kr/faq/" class="btn-faq">FAQ</a>
					<br class="hidden-mdlg">
					
					<br class="hidden-mdlg">
					<a href="https://blog.naver.com/jkkim317" target="_blank" class="link blog"><img src="https://nurifunding.co.kr/img/renew/common/footer_blog.png" alt="누리펀딩블로그바로가기"></a>
					<a href="" target="_blank" class="link cafe"><img src="https://nurifunding.co.kr/img/renew/common/footer_cafe.png" alt="누리펀딩카페로바로가기"></a>
					<a href="http://pf.kakao.com/_xnjkKC" target="_blank" class="link kkoFriend"><img src="https://nurifunding.co.kr/img/renew/common/footer_kakao.png" alt="누리펀딩카카오친구"></a>
					<a href="javascript:;" class="logo hidden-mdlg"><img src="https://nurifunding.co.kr/img/renew/common/logo_f.png" alt="푸터로고"></a>
				</div>
			</div>	
			<div class="cf addr-area">
				<div class="group inner">
                    <div class="row row-addr">
						<div class="split split-1">
							<address>
								<em>(주) 누리펀딩</em><br class="hidden-mdlg">
								서울시 강남구 테헤란로 82길 15, 11층 (대치동,디아이타워)<br>
								대표이사: 김정권 ㅣ 사업자등록번호 677-81-00871<br>
								TEL: 1666-4570 ㅣ E-mail : help@nurifunding.co.kr
							</address>
						</div>
						<div class="split split-2 certify-box">
							<ul class="cf list">
								<li>
									<a href=" http://www.fss.or.kr" target="_blank" class="link">
										<img src="https://nurifunding.co.kr/img/renew/common/footer_certify.png" alt="금융감독원 승인기업 2018-금감원-1486" class="hidden-smxs">
										<img src="https://nurifunding.co.kr/img/renew/m/common/footer_certify.png" alt="금융감독원 승인기업 2018-금감원-1486" class="hidden-mdlg">
									</a>
								</li>
								<li><a href="http://p2plending.or.kr" target="_blank" class="link"><img src="https://nurifunding.co.kr/img/renew/common/bt_footer_01.png" alt="한국 P2P 금융협회" width="160"></a></li>
								<li><a href="http://www.clfa.or.kr" target="_blank" class="link"><img src="https://nurifunding.co.kr/img/renew/common/bt_footer_02.png" alt="한국대부금융협회" width="60"></a></li>
							</ul>
							<ul class="cf list">
								<li><a href="http://www.crowdfunding.or.kr" target="_blank" class="link"><img src="https://nurifunding.co.kr/img/renew/common/bt_footer_03.png" alt="한국크라우드 펀딩협회" width="190"></a></li>
								<li><a href="http://korfin.kr" target="_blank" class="link"><img src="https://nurifunding.co.kr/img/renew/common/bt_footer_04.png" alt="한국핀테크 산업협회" width="85"></a></li>
								<li><a href="http://www.paygate.net" target="_blank" class="link"><img src="https://nurifunding.co.kr/img/renew/common/bt_footer_05.png" alt="payGate" width="95"></a></li>
							</ul>
						</div>
					</div>
					<div class="row row-notice">
						<!-- 당사는 투자상품에 관하여 충분하게 설명할 의무가 있으며, 투자자는 약관을 통해 위험성, 수익성, 수수료 등에 대하여 인지 후 투자하시기 바랍니다.
						<span class="c-blue">누리펀딩은 투자원금과 수익을 보장하지 않으며, 투자손실에 대한 책임은 모두 투자자에게 있습니다.</span> 또한 대출 시 귀하의 신용등급이 하락할 수 있습니다.
						대출금리 19% 이내 (연체이자율은 약정이자율 + 3% 이내) 채무의 조기상환수수료율 등 조기상환조건 없으며 플랫폼 이용료, 법무비 등 부대비용 별도 부담입니다.
						중개수수료를 요구하거나 받는 행위는 불법입니다. 과도한 빚은 당신에게 큰 불행을 안겨줄 수 있습니다. 대출 시 귀하의 신용등급이 하락할 수 있습니다. -->
						당사는 투자상품에 관하여 충분하게 설명할 의무가 있으며, 투자자는 약관을 통해 위험성, 수익성, 수수료 등에 대하여 인지 후 투자하시기 바랍니다.  누리펀딩은 투자원금과 수익을 보장하지 않으며, 투자손실에 대한 책임은 모두 투자자에게 있습니다. 또한 대출 시 귀하의 신용등급이 하락할 수 있습니다. 대출금리 19% 이내( 연체이자율 24%) 채무의 조기상환수수료율 등 조기상환조건 없으며 플랫폼 이용료, 법무비 등 부대비용 별도 부담입니다. 중개수수료를 요구하거나 받는 행위는 불법입니다. 과도한 빚은 당신에게 큰 불행을 안겨줄 수 있습니다.
					</div>
					<div class="row row-addr-2">
						<address>
							<span>(주) 누리펀딩대부</span><br class="hidden-mdlg">
							서울시 강남구 테헤란로 82길 15, 11층 (대치동,디아이타워)<br>
							대표이사: 김정권 ㅣ 사업자등록번호 791-86-00662 ㅣ P2P연계대부업 : 2018-금감원-1486<br>
						</address>
						<small>Copyright © NURI FUNDING Corp. All Rights Ressrved.</small>
					</div>
                </div>
                
		    </div>
		</footer>
		
		<div class="fixed shortcut-area">
			<div class="group">
				<ul class="list">
					<li><a href="#none" data-toggle="modal" data-target="modal-inquiry" role="button"><img src="https://nurifunding.co.kr/img/renew/common/icon_inquiry.png" alt="상담신청"></a></li>
					<li><a href="#none" id="goTop" role="button"><img src="https://nurifunding.co.kr/img/renew/common/icon_top.png" alt="상단으로이동"></a></li>
				</ul>

			</div>
		</div>
		<!-- /.shortcut-area -->

	</div>
	<!-- /#wrap -->

	<div class="modal-layer" id="modal-layer">
		<div class="modal hidden-mdlg modal-fstvisit" role="dialog" aria-labelledby="fstvisitDialog" aira-modal="true" tabindex="-1">
			<div class="modal-wrapper">
				<div class="modal-container">
					<div class="modal-header">
						<h3 id="fstvisitDialog" class="modal-label">처음 방문 하셨나요?</h3>
						<p class="modal-cmt">성공 투자를 위한 첫 걸음</p>
						<input type="image" alt="닫기" src="https://nurifunding.co.kr/img/renew/common/icon/icon_close.png" class="btn-cls" data-dismiss="modal">
					</div>
					<div class="modal-body">
						<div class="img-box">
							<img src="https://nurifunding.co.kr/img/renew/m/main/bnr_startguide.jpg" alt="투자시작하기">
							<p class="sr-only">성공투자를 위한 과정: 회원가입 -> 투자계좌 개설 -> 투자금 입금 -> 투자상품 선택 후 투자 -> 수익금정산 수익율 평균 10% -> 투자 시작하기</p>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="aprnone-btn btn-base btn-marine" data-dismiss="modal"><span>회원가입</span></button>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-fstvisit -->

		<div class="modal modal-inquiry" role="dialog" aria-labelledby="inquiryDialog" aira-modal="true" tabindex="-1">
			<div class="modal-backdrop"></div>
			<div class="modal-wrapper">
				<div class="modal-container">
					<div class="modal-header">
						<h3 id="inquiryDialog" class="modal-label">
							<strong>상담신청</strong>
							<span class="pull-right nuri"><span class="c-blue">NURI</span>FUNDING</span>
						</h3>
						<a href="javascript:;" class="btn-close" data-dismiss="modal"><img src="https://nurifunding.co.kr/img/renew/common/icon/icon_close.png" alt="닫기"></a>
					</div>
					<div class="modal-body">
						<form action="">
							<fieldset>
								<legend class="sr-only">상담신청 형식</legend>
								<div class="row">
									<label for="name" class="sr-only">이름</label><input id="name" type="text" class="form-input" value="" placeholder="이름을 입력하세요">
								</div>
								<div class="row">
									<label for="phoneNo" class="sr-only">전화번호</label><input id="phoneNo" type="number" class="form-input" value="" placeholder="전화번호를 입력하세요(숫자만 입력)">
								</div>
								<!-- <div class="row">
									<label for="jobs" class="sr-only">직업</label>
									<select name="" id="jobs" class="form-select">
										<option value="">직업을 선택하세요</option>
										<option value=""></option>
									</select>
								</div> -->
								<div class="row">
									<label for="email" class="sr-only">이메일</label><input id="email" type="number" class="form-input" value="" placeholder="이메일을 입력하세요">
								</div>
								<div class="row">
									<label for="counselItem" class="sr-only">상담항목</label>
									<select name="" id="counselItem" class="form-select">
										<option value="">상담 항목선택</option>
										<option value="">대출신청</option>
										<option value="">투자하기</option>
										<option value="">미리페이(선정산)</option>
										<option value="">기타</option>
									</select>
								</div>
								<div class="row">
									<label for="counselContent" class="sr-only">내용입력</label>
									<textarea name="" id="counselContent" cols="30" rows="10" placeholder="내용을 간단하게 입력해주세요" class="form-ta inq-ta"></textarea>
								</div>
								<div class="row">
									<label><input type="checkbox" class="form-chkbox"> <span>개인정보 취급방침 동의</span></label>
									<a onclick="$('.policy-box').toggle(); $(this).toggleClass('on');" href="#none" class="pull-right a-more">자세히 보기</a>
									<div class="cf"></div>
									<div class="policy-box">
										<div class="txt-box">
											㈜누리펀딩(이하 “회사” 또는 “누리펀딩”)은 이용자들의 개인정보보호를 위하여, 개인정보 보호법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 관련 법령상의 개인정보보호규정
											및 정보통신부가 제정한 개인정보보호지침을 준수하며, 관련 법령에 의거한 개인정보처리지침을 정하여 이용자 권익보호에 최선을 다하고 있습니다. 회사의 개인정보취급지침의 내용은 다음과
											같습니다.<br />
											<br />
											<span class="f-bd">1. 수집하는 개인(신용)정보의 항목 및 수집방법</span><br />
											1) 수집하는 개인(신용)정보의 항목<br />
											회사는 회원가입, 원활한 고객 상담 등 기본적인 서비스 제공을 위한 필수 정보와 고객 맞춤 서비스 제공을 위한 선택 정보로 구분하여 아래와 같은 개인(신용)정보를 수집하고
											있습니다.<br />
											[수집정보] <br />
											가. 회원가입시<br />
											-회원가입 정보: 이메일(ID), 비밀번호, 성명, 성별, 생년월일, e-mail주소,서비스이용기록, 접속로그, 쿠키, 접속IP, 상호, 휴대폰번호, 전화번호 <br />
											온라인 대출정보 중개를 위해 투자자에게 제공할 목적으로 ㈜누리펀딩대부로부터 제공받은 정보<br />
											-개인식별정보: 직장정보(직군), 병역관련사항, 학교정보 등<br />
											신용도정보: 신용등급, 신용조회, 채무재조정약정, 연체, 부도, 대위변제, 기타 신용질서 문란행위 관련 금액, 발생, 해소 시기 등<br />
											-신용거래정보: 본거래 이전 및 이후의 대출, 보증, 담보제공, 신용카드, 할부금융 등 상거래 관련 거래의 종류, 기간, 금액 및 한도 등 신용거래의 모든 사항 <br />
											-신용능력정보: 재산, 채무, 월, 년, 기간별 소득 금액, 소득정보와 관계된 납세실적 등 <br />
											-서비스 이용과정에서 자동으로 생성되어 수집된 정보: 서비스 이용 기록, 접속로그, 쿠키, 접속 IP정보 등 <br />
											-회원가입 시 선택적으로 입력한 추천코드, 유입경로 등 <br />
											나. 출금신청시 : (가입자 본인 명의의) 은행명, 거래계좌번호, 예금주명 등 <br />
											<br />
											다. 서비스이용시 : 아래와 같음 <br />
											ㅇ투자회원 :<br />
											– 소득세법 제 166조(주민등록 전산정보자료 등의 이용)를 근거로 투자자의 소득세를 원천징수하기 위한 주민등록번호 및 투자정보에 관련된 일체사항<br />
											ㅇ 대출회원 : <br />
											– 개인식별정보: 신용정보법의 ‘금융거래를 위하여 신용정보를 이용’하는 사무를 수행하기 위한 주민등록번호, 성명, 휴대전화번호, 주소, e-mail 주소, 계좌정보, 상호
											등<br />
											– 신용도정보: 신용등급, 신용조회, 채무재조정약정, 연체, 부도, 대위변제, 기타 신용질서 문란행위 관련 금액 및 발생•해소 시기 등 <br />
											– 신용거래정보: 본거래 이전 및 이후의 대출, 보증, 담보제공, 신용카드, 할부금융 등 상거래 관련 거래의 종류•기간•금액 및 한도 등 신용거래의 모든 사항 <br />
											– 신용능력정보: 재산, 채무, 월•년•기간별 소득 금액, 소득정보와 관계된 주 거래, 납세실적 등 <br />
											– 기타 계약 관련하여 본인이 제공한 정보 <br />
											<br />
											2) 개인(신용)정보의 수집 방법<br />
											회사는 다음과 같은 방법으로 고객님의 개인정보를 수집하고 있습니다.<br />
											홈페이지, 팩스, 전화를 통한 회원가입, 서비스 이용, 이벤트 응모, 회원정보 수정, 고객센터 문의 등과 생성정보 수집 툴을 통한 수집, 협력회사로부터의 제공<br />
											<br />
											<span class="f-bd">2. 개인(신용)정보의 수집 및 이용 목적</span><br />
											회사는 다음과 같은 목적을 위해 개인(신용)정보를 수집합니다.<br />
											이용자가 제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며 이용 목적이 변경될 시에는 사전동의를 구할 것입니다. <br />
											1) 홈페이지 회원가입 및 관리<br />
											회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별•인증, 회원자격 유지•관리, 제한적 본인 확인제 시행에 따른 본인확인, 회원 탈퇴의사 확인, 서비스 부정이용 방지와
											비인가 사용 방지, 만14세 미만 아동 개인정보 수집시 법정대리인 동의 여부 확인, 각종 고지•통지, 고충처리, 분쟁 조정을 위한 기록 보존 등 <br />
											2) 민원업무 처리<br />
											이용자를 위한 온라인 대출정보 중개(이용자와 (주)누리펀딩대부 사이의 대출계약에 따른 대출채권과 관련하여, 투자자와 (주)누리펀딩대부 간 대출채권의 원리금수취권 양수도 거래를 위한
											중개 및 지원<br />
											3) 서비스 제공에 대한 계약이행 및 관리, 요금정산<br />
											민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락•통지, 처리결과 통보 등 <br />
											4) 통계학적 분석<br />
											이용자의 연령별/성별/지역별/소득별 통계분석, 통계분석서비스의 유효성 확인, 접속빈도 파악 또는 회원의 서비스 이용에 대한 통계 등 <br />
											5) 마케팅 및 광고에의 활용<br />
											신규 상품 및 서비스 홍보 및 판매권유, 경품지급, 사은행사 등 이용자에 대한 편의 제공 등. 단, 본 항에 정한 목적은 이용자가 마케팅 정보 수신에 동의한 경우에 한하여 적용
											됩니다.<br />
											<br />
											<br />
											<span class="f-bd">3. 개인(신용)정보의 보유 및 이용 기간</span><br />
											회사는 이용자가 회사가 운영하는 플랫폼 서비스 회원으로 가입한 날로부터 서비스를 제공받는 기간 동안 이용자의 개인(신용)정보를 보유 및 이용합니다. 회사는 이용자가
											개인(신용)정보의 수집 및 이용에 대한 동의를 철회하는 경우 해당 개인(신용)정보를 지체 없이 파기합니다. 다만, 회사는 이용자가 회사가 운영하는 플랫폼 서비스 회원에서
											탈퇴하거나, 회사가 이용자를 제명하는 경우 권리남용, 악용방지, 권리침해, 명예훼손 분쟁 및 수사협조 의뢰에 대비하여 이용계약 해지일로부터 3년 동안 개인정보를 보관하고, 아래와
											같이 관계법령의 규정에 따라 보존할 필요가 있는 경우 해당 기간 동안 개인정보를 보관합니다.<br />
											단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.<br />
											1) 회사는 고객이 탈회하거나, 고객을 제명하는 경우 권리남용, 악용방지, 권리침해/명예훼손 분쟁 및 수사협조 의뢰에 대비하여 이용계약 해지일로부터 3년 동안 개인(신용)정보를
											보존합니다.<br />
											2) 회사는 다음의 정보에 대해서 명시한 기간 동안 보존합니다.<br />
											①계약 또는 청약철회 등에 관한 기록 <br />
											보존근거 : 전자상거래 등에서 소비자 보호에 관한 법률(보존기간 : 5년)<br />
											②대금결제 및 재화 등의 공급에 관한 기록 <br />
											보존근거 : 전자상거래 등에서 소비자 보호에 관한 법률(보존기간 : 5년)<br />
											③소비자의 불만 또는 분쟁처리에 관한 기록 <br />
											보존근거 : 전자상거래 등에서 소비자 보호에 관한 법률(보존기간 : 3년)<br />
											④표시/광고에 관한 기록<br />
											보존근거 : 전자상거래 등에서 소비자 보호에 관한 법률(보존기간 : 6개월)<br />
											⑤전자금융에 관한 기록 <br />
											보존근거 : 전자금융거래법(보존기간 : 5년)<br />
											⑥접속로그 등 서비스 이용에 관한 기록 <br />
											보존근거 : 통신비밀보호법(보존기간 : 5년)<br />
											<br />
											<span class="f-bd">4. 개인(신용)정보의 파기 절차 및 방법</span><br />
											회사는 원칙적으로 개인(신용)정보 수집 및 이용 목적이 달성된 후에는 해당정보를 지체없이 파기합니다. 파기 절차 및 방법은 다음과 같습니다.<br />
											1) 파기절차 : 이용자가 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의 DB로 옮겨져 (출력물, 서면 등의 경우 별도의 서류함) 내부지침 및 기타 관련법령에 의한
											정보보호 사유에 따라 (보유 및 이용 기간 참조) 일정기간 저장된 후 파기됩니다. <br />
											2) 파기방법 : 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다. 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적
											방법을 사용하여 삭제합니다. 출력물, 서면 등은 분쇄기로 분쇄하거나 소각하는 방식 등으로 파기합니다.<br />
											<br />
											<span class="f-bd">5. 제3자에 대한 개인(신용)정보 제공</span><br />
											회사는 이용자에게 보다 나은 서비스를 제공하는 등의 목적으로 「개인정보를 제공받는 자, 개인정보를 제공받는 자의 개인정보 이용목적, 제공하는 개인정보의 항목, 개인정보를 제공받는
											자의 개인정보 보유 및 이용 기간」을 명시하며, 동의받은 범위를 넘어서 제3자에게 제공하지 않습니다. 다만, 다음의 경우에는 예외로 합니다. <br />
											1) (주)누리펀딩대부<br />
											①이용목적 <br />
											이용자와 (주)누리펀딩대부 및 이용자와 (주)누리펀딩대부 사이의 각 대출거래 중개와 관련 하여, 이용자의 대출 실행 및 유지 관리를 위해 (주)누리펀딩대부 가 각 수행하여야 하는
											제반 업무를 위한 목적 <br />
											②제공하는 개인(신용)정보의 항목<br />
											회원가입 정보: 이메일(ID), 비밀번호<br />
											③보유 및 이용기간<br />
											이용자가 대출 신청을 한 날부터 모든 대출 원리금 상환이 종료되는 날까지의 기간 동안<br />
											2) (주)누리펀딩 투자회원<br />
											①이용목적 <br />
											이용자와 (주)누리펀딩대부 사이의 대출계약에 따른 대출채권과 관련하여, 투자자와 (주)누리펀딩대부 간 위 대출채권의 원리금수취권 양수도 거래를 위한 중개 및 지원<br />
											②제공하는 개인(신용)정보의 항목<br />
											개인식별정보 : 직장정보(직군), 병역관련사항, 대학정보 등<br />
											신용정보 : 신용등급, 신용조회, 채무재조정약정, 연체, 부도, 대위변제, 기타 신용질서 문란행위 관련 금액, 발생•해소 시기 등<br />
											신용거래 정보 : 본거래 이전 및 이후의 대출, 보증, 담보제공, 신용카드, 할부금융 등 상거래 관련 거래의 종류, 기간, 금액 및 한도 등 신용거래의 모든 사항<br />
											신용능력 정보 : 재산, 채무, 월, 년, 기간별 소득 금액, 소득정보와 관계된 주 거래, 납세실적 등<br />
											③보유 및 이용기간 <br />
											이용자와 (주)누리펀딩대부 사이의 대출계약에 따른 대출채권과 관련하여, 투자자와 (주)누리펀딩대부 간 위 대출채권의 원리금수취권 양수도 거래를 위한 중개 및 지원 업무가 종료되는
											날까지의 기간 동안<br />
											<br />
											<br />
											<span class="f-bd">6. 수집한 개인(신용)정보의 처리 위탁</span><br />
											회사는 서비스 향상 및 부대 업무의 대행 등 이용자 편의 제공 및 관리 등을 위하여 아래와 같이 개인(신용)정보 처리업무를 위탁하고 있으며, 관계 법령에 따라 위탁 계약 시,
											회원들의 개인(신용)정보가 안전하게 관리될 수 있도록 필요한 사항을 규정하여 엄격히 운영하고 있습니다. 회사의 개인(신용)정보 수탁자 및 위탁 업무 내용은 개인(신용)정보
											처리지침에 공지합니다.<br />
											<br />
											<span class="f-bd">7. 이용자 및 법정대리인의 권리와 그 행사방법</span><br />
											1) 개인(신용)정보의 열람•정정<br />
											이용자 및 법정대리인은 언제든지 등록되어 있는 이용자의 개인(신용)정보를 열람하거나 정정할 수 있습니다. 개인(신용)정보 열람 및 정정은 “내정보: 회원정보수정”에서 직접 변경할
											수 있으며, 개인정보 보호 책임자에게 서면, 전화 또는 E-mail을 통해서도 가능합니다.<br />
											이용자가 개인(신용)정보 오류 정정을 요청한 경우, 정정 완료 전까지 당해 개인(신용)정보를 이용 또는 제공하지 않습니다.<br />
											잘못된 개인(신용)정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체없이 통지하여 정정하도록 조치하겠습니다.<br />
											2) 개인(신용)정보의 수집•이용•제공 동의철회<br />
											이용자 및 법정대리인은 언제든지 개인(신용)정보의 수집, 이용, 제공에 대한 동의내용을 철회할 수 있습니다. 동의철회는 개인정보 보호 책임자에게 서면, 전화, E-mail을 통해서
											신청할 수 있으며, 담당자는 접수 즉시 동의철회 등록, 개인정보 파기 등의 조치를 취한 후 해당사실을 이용자에게 통지합니다. <br />
											회사는 이용자 혹은 법정 대리인의 요청에 의해 동의철회, 파기된 개인(신용)정보는 “개인(신용)정보 보유 및 이용기간” 및 “개인정보의 파기절차 및 방법”에 명시된 바에 따라
											파기하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다. <br />
											<br />
											<br />
											<span class="f-bd">8. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항</span><br />
											"회사"는 이용자의 정보를 수시로 저장하고 불러오는 ‘쿠키(cookie)’를 운용합니다. 쿠키란 "회사"의 웹사이트를 운영하는데 이용되는 서버가 이용자의 컴퓨터 브라우저에 보내는
											아주 작은 텍스트 파일이며 이용자의 컴퓨터 하드디스크에 저장되기도 합니다.<br />
											1) 쿠키의 사용목적<br />
											회원과 비회원의 접속빈도나 방문시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문회수 파악 등을 통한 타겟 마케팅 및 개인 맞춤
											서비스 제공 등<br />
											2) 쿠키의 설치/운영 및 거부<br />
											이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 이용자는 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면
											모든 쿠키의 저장을 거부할 수도 있습니다. <br />
											단, 이용자가 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.<br />
											<br />
											<br />
											<span class="f-bd">9. 개인정보에 관한 민원서비스</span><br />
											"회사"는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고
											있습니다.<br />
											1) 개인정보 보호책임자<br />
											성명 : 김 정 권<br />
											직책 : 영업총괄 대표<br />
											전화번호 : 1666-4570 (개인정보 보호 담당자 연결 요청)<br />
											회사의 서비스(또는 사업)를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다.
											회사는 이용자의 문의에 대해 지체 없이 답변 및 처리해드릴 것입니다.<br />
											2) 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br />
											개인(신용)정보침해신고센터 (http://privacy.kisa.or.kr )국번없이 118(내선 2번)<br />
											정보보호마크인증위원회 (http://eprivacy.or.kr / 02-580-0533~4)<br />
											대검찰청 첨단범죄수사과 (http://spo.go.kr / 02-3480-2000)<br />
											경찰청 사이버안전국 (http://cyberbureau.police.go.kr / 1566-0112)<br />
											방송통신위원회 (http://kcc.go.kr / 02-750-1114)<br />
											<br />
											<br />
											<span class="f-bd">10. 개인정보의 안전성 확보 조치</span><br />
											개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.<br />
											1) 개인정보 처리 직원의 최소화 및 교육<br />
											개인정보를 처리하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고 있습니다.<br />
											2) 정기적인 자체 감사 실시<br />
											개인정보 처리 관련 안정성 확보를 위해 정기적(분기 1회)으로 자체 감사를 실시하고 있습니다.<br />
											3) 내부관리계획의 수립 및 시행<br />
											개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.<br />
											4) 개인정보의 암호화<br />
											이용자의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의
											별도 보안기능을 사용하고 있습니다. <br />
											5) 해킹 등에 대비한 기술적 대책<br />
											회사는 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신•점검을 하며 외부로부터 접근이 통제된 구역에 시스템을 설치하고
											기술적/물리적으로 감시 및 차단하고 있습니다.<br />
											6) 개인정보에 대한 접근 제한<br />
											개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여, 변경, 말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을 이용하여
											외부로부터의 무단 접근을 통제하고 있습니다.<br />
											7) 접속기록의 보관 및 위변조 방지<br />
											개인정보처리시스템에 접속한 기록을 최소 6개월 이상 보관, 관리하고 있으며, 접속 기록이 위변조 및 도난, 분실되지 않도록 보안기능을 사용하고 있습니다.<br />
											8) 문서보안을 위한 잠금장치 사용<br />
											개인정보가 포함된 서류, 보조저장매체 등을 잠금장치가 있는 안전한 장소에 보관하고 있습니다.<br />
											9) 비인가자에 대한 출입 통제<br />
											개인정보를 보관하고 있는 물리적 보관 장소를 별도로 두고 이에 대해 출입통제 절차를 수립, 운영하고 있습니다.<br />
											<br />
											<br />
											<span class="f-bd">11. 개인(신용)정보 처리지침의 개정 및 고지의무에 관한 사항</span><br />
											"회사"는 정부의 법률 및 지침 변경이나 회사의 내부 지침 변경 등으로 인하여 개인(신용)정보 처리지침을 개정하는 경우 변경된 내용을 "회사"가 운영하는 사이트, 이메일 혹은
											추가적인 개인정보를 통해 7일 전에 공지하겠습니다. 변경된 약관은 게시한 날로부터 7일 후부터 효력이 발생합니다.<br />
											<br />
											<br />
											부칙<br />
											제 1조 (적용일자)<br />
											1. 본 약관은 2017년 10월 1일부터 시행됩니다. <br />
											2. 본 약관 이전에 적용되었던 약관은 본 약관으로 대체합니다<br />

										</div>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="modal-footer">
						<div class="row row-btn">
							<a href="javascript:;" class="btn-submit" role="button">상담신청</a>
						</div>
						<p class="row row-cmt">※ 신청해주신 정보를 통해 24시간 이내로 고객님께 연락드리겠습니다.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-inquiry -->
	</div>
	<!-- /#modal-layer -->

	<div class="popup-layer" id="popup-layer">
		<!-- <section class="pop-sec pop-phishing">
			<div class="dropDown-bg"></div>
			<div class="pop-contents">
				<div class="pop-top">
					<span class="left">누리펀딩에서 알려드립니다.</span>
					<span class="right"><img src="https://nurifunding.co.kr/img/logo.png" alt="누리펀딩"></span>
					<div class="clr"></div>
					<h2>보이스피싱 및 메시지피싱으로 인한 <br class="show-smxs"> 출금제한 안내</h2>
				</div>
				<div class="pop-middle">
					<p>최근 발생되고 있는 보이스피싱 피해사례로 인해 <br class="show-smxs"> 이상거래탐지 시스템이 <br class="hidden-smxs">
						보다 강화되었음을 알려드립니다.</p>
		
					<p class="c-blue fwe-700">일반 투자자들도 투자 외의 출금 시도시 <br class="show-smxs"> 출금거래가 차단될 수 있으며 <br class="hidden-smxs">
						이에 대해 출금차단 해제는 <br class="show-smxs"> 현재 세이퍼트 모니터링 요원들이 업무시간 <br class="hidden-smxs">
						내에 <br class="show-smxs"> 순차적으로 리뷰 후 출금 가능하도록 수동으로 <br class="show-smxs"> 조치하고 있습니다.</p>
		
					<p>다소 불편하시겠지만 출금 자동 제한이 당분간 <br class="show-smxs"> 유지될 예정이오니 <br class="hidden-smxs">
						이용에 참고하여 주십시오. </p>
		
					<p>불편을 드려 죄송합니다. 감사합니다.</p>
				</div>
				<div class="pop-bottom">
					<a href="javascript:;" onclick="$(this).closest('.pop-sec').hide();">더이상 이 창을 열지 않습니다.</a>
					<a href="javascript:;" onclick="$(this).closest('.pop-sec').hide();" class="clsBtn">창닫기</a>
				</div>
			</div>
		</section>
		<script>
			$(".pop-sec").on("mousewheel", function() {
				return false;
			});
		</script> -->
		<!--/.pop-phishing-->

		<div class="popup popup-review" style="display: none">
			<div class="popup-wrapper">
				<div class="popup-container">
					<div class="popup-body">
						<div class="bn-sec">
							<h2 class="bn-title">
								<img src="http://nurifunding.co.kr/img/pop/review/pop_bnr.jpg" alt="누리펀딩 이용후기 이벤트 당첨자 발표">
							</h2>
							<p class="sr-only">
								1등 32인치 TV(1명)
								2등 5만원 신세계상품권(2명)
								3등 스타벅스 아메리카노(참가자 전원)
							</p>
						</div>
						<div class="winner-sec">
							<p class="winner-msg">★ 응모해 주셔서 감사드리며 당첨을 축하드립니다. ★</p>
							<div class="winner-list-box">
								<div class="winner-title"><span>당첨자</span></div>
								<ul class="winner-list">
									<li>1위 (1명) 32인치 TV - <span class="name">신<span class="ft">＊</span>한</span></li>
									<li>2취 (2명) 5만원 신세계상품권 - <span class="name">유<span class="ft">＊</span>화, 최<span class="ft">＊</span>연</span></li>
									<li>3위 (전원) 스타벅스 아메리카노 - <span class="name">참여자 전원</span></li>
								</ul>
							</div>
							<p class="winner-note">
								이벤트에 참여해 주신 모든 분들께 감사드립니다.<br>
								앞으로도 누리펀딩에 많은 관심과 이용 부탁드립니다.
							</p>
							<p class="winner-link-box"><a href="https://www.nurifunding.co.kr/notice/view.php?var=EUk=&page=1" class="link">자세히 보기 <span class="ic-rArrow"></span></a></p>
						</div>
					</div>
					<div class="popup-footer">
						<a href="#none" onclick="$(this).closest('.popup-layer').hide();">더이상 이 창을 열지 않습니다.</a>
						<a href="#none" onclick="$(this).closest('.popup-layer').hide();" class="clsBtn">창닫기</a>
					</div>
				</div>
			</div>
		</div>
		<script>
			$(".popup-layer").on("mousewheel", function() {
				return false;
			});
		</script>
	</div>
	
</body>

</html>