@charset "utf-8";
/*@import url(../fonts/notosanskr/notosanskr.css);*/
@import url('https://nurifunding.co.kr/static/fonts/notosanskr/notosanskr.css');
@import url('https://nurifunding.co.kr/static/fonts/nanumgothic/nanumgothic.css');
@import url('https://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css');
/* css 초기화 */
/* @import url('https://nurifunding.co.kr/static/css/grid_1200.css'); */
@import url('https://nurifunding.co.kr/static/css/include/pop.css');
@import url('../../static/css/grid_1200.css');
/* @import url('../../static/css/include/pop.css'); */
/*@import url('https://nurifunding.co.kr/static/fonts/nanumgothic/nanumgothic.css');
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');*/

body {font-family: 'Nanum Gothic', 'Nanum Square', 'Malgun Gothic', sans-serif;}
/* body, html {font-family: 'Nanum Square', 'Noto Sans KR', 'Nanum Gothic', 'Malgun Gothic', Arial, sans-serif;} */

body, * {margin:0; padding:0; box-sizing: border-box; letter-spacing: -1px;
/*
    -webkit-user-select: none; /* Chrome, Opera, Safari *
    -moz-user-select: none; /* Firefox 2+ *
    -ms-user-select: none; /* IE 10+ *
    user-select: none; /* Standard syntax *
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
*/
  }
body {background: #f5f5f5; color: #333;}
button {cursor: pointer; border: none; background: none;}
a {text-decoration:none; color: inherit;}
b {font-weight: 600;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="password"] {font-family: sans-serif;}

.clr, .cf {*zoom: 1;}
.clr:after, .cf:after {content: ""; display: block; clear: both;}


.blind {visibility: hidden;}
.bounceIn, .fadeIn, .flipInX, .fadeInLeft {visibility: visible;}

/*폰트 색상*/
.bg-blue {background-color: #398fe1;}
.bg-blue2 {background:#3584d0}
.bg-skyblue {background-color: #52ade4;}
.bg-darkBlue {background-color: #09345f;}
.bg-gray {background: #aeaeae;}
.bg-gray2 {background: #b4b4b4;}
.bg-red {background: #f45454;}
.bg-red2 {color: #ff3600 !important;}
.bg-org {background: #ff5400 !important;}
.bg-org2 {background: #f74200 !important;}

.c-gray, .fc-gray {color: #ccc;}
.c-blue, .fc-blue {color: #398fe1 !important; /* color: #126cc3; */}
.fc-lightblue {color:#1072d1}
.c-blue2, .fc-blue2 {color: #126cc3;}
.fc-blue3 {color:#0468c8}
.c-white, .fc-white {color: #fff;}
.c-orange, .fc-orange {color: #ff9a16;}
.c-org {color: #ff5400;}
.c-red, .fc-red {color: #ee1c1c;}
.fc-red2 {color: #e22424;}
.fg-blue3 {color: #0066ff !important;}
.c-green {color: #008b03 !important;}

.ic-new {position: relative; top: -2px;	display: inline-block; vertical-align: middle; font-size: 10px; height: 16px; line-height: 16px; padding: 0 3px; font-weight: 700; background: #ff7600; color: #fff; letter-spacing: 0; font-family: "Nanum Gothic", sans-serif;}
.ic-new.big {top: -1px; font-size: 12px; height: 21px; line-height: 20px; padding: 0 7px;}

/*폰트 굵기*/
.f-bd {font-weight: 600;}
.fwe-700 {font-weight: 700;}

/*테두리*/
[class*=bor-] {box-sizing: border-box;}
.bor-ddd {border: 1px solid #ddd;}
.bor-white {border: 1px solid #fff;}
.bor-blue {border: 1px solid #398fe1;}
.br3 {border-radius: 3px;}
.br4 {border-radius: 4px;}

/*폰트 정렬*/
.ta-left, .align-left {text-align: left !important;}
.ta-right, .align-right {text-align: right !important;}
.ta-center, .align-center {text-align: center !important;}
.td-under {text-decoration: underline !important;}


.iph3 {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.ftfm-nn, .ft-nn {font-family: "Nanum Gothic", "Nanum Square", sans-serif; letter-spacing: -0.5px;}
.ftfm-nt, .ft-nt {font-family: "Noto Sans KR", "Nanum Square", sans-serif; letter-spacing: -0.5px;}
/* .ftfm-nt {font-family: "Noto Sans KR", "Malgun Gothic", "Nanum Gothic", sans-serif; letter-spacing: -0.5px;} */

/* 캔버스 커스타미이징 */
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
/* input태그 커스커마이징 */
.nr-box {position: relative;}
.nr-ph {display: none; position: absolute; top: 17px; left: 1px; text-indent: 15px; color: #999;}

.nr-text, .nr-radio, .nr-button, .nr-reset, .nr-select, .nr-check { appearance: none; -webkit-appearance: none;  -moz-appearance: none;  -ms-appearance: none; background: #fff;}
.nr-text + label, .nr-radio + label, .nr-check + label {vertical-align: middle; cursor: pointer;}
.nr-text {border: 1px solid #ddd; outline: none;}
.nr-radio, .nr-check {border: 1px solid #ddd; outline: none; cursor: pointer;}
.nr-radio:checked, .nr-check:checked {background-color: #fff;}
select.nr-select::-ms-expand {
    display: none;
}
input.base-1, select.base-1 {height: 32px; padding-left: 10px; width: 170px; box-sizing: border-box;}
input.base-1 {border-color: transparent; border-bottom-color: #ddd;}
select.base-1 {
    border: 1px solid #ddd; background: #fff url(https://nurifunding.co.kr/img/common/selectArr.png) no-repeat 94% center;
}

/* 공통속성 css */
hr {border: none; border-top: 1px solid #ddd;}
.btn-base.btn-blue {background: #398fe1;}
.btn-base.btn-gray {background: #989898;}
/*jquery컴포넌트 공통 속성*/

/* 리뉴얼에서는 .container 사용 X 대체 .group  사용 */
.group {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.group:after {content: ''; display: block; clear: both;}
@media (min-width: 768px) {
  .group {
    /*width: 750px;*/
  }
}
@media (min-width: 992px) {
  .group {
    /*width: 970px;*/
  }
}
@media (min-width: 1200px) {
  .group {
    width: 1200px;
  }
}

/*전체*/
.wrap {position: relative; width: 100%; min-width: 320px;}
.contents, .sec {position: relative;}
.main {position: relative;}
.section:before, .section:after {content: ""; display: block;}
.section:after {clear: both;}
.sec-container, .row {position: relative;}
.sec-container:after, .row:after, .list:after {content: ""; display: block; clear: both;}

.header, .footer {letter-spacing: -0.75px;}

/*모바일 영역*/
@media (max-width: 767px){
    
    .hidden-xs, .show-md {display:none;}

    .dropdown {position: relative; display: inline-block; vertical-align: middle; color: #333;}
    .dropdown .btn {position: relative; border: 1px solid #ddd; background: #fff; color: #333; box-sizing: border-box; padding: 0px 10px; border-radius: 6px; text-align: left; outline: none; width: 100%; font-size: 13px; height: 29px; line-height: 26px;}
	.dropdown .btn span {position: relative; font-size:10px; color: #398FE2;}
	.dropdown .dropdown-menu {display: none; position: absolute; border: 1px solid #ddd; background: #fff; border-radius: 6px; margin-top: -1px; z-index: 1; width: 100%;}
	.dropdown .dropdown-menu li a {display: block; padding: 5px 10px; line-height: 1.2em; font-size: 1em; text-align: left;}
	.dropdown .dropdown-menu li a:hover {color: #398fe2;}

	.form-box {position: relative;}
	.form-box * {vertical-align: middle;}
	.form-check,
	.form-radio {
		position: relative; appearance: none; -webkit-appearance: none;  -moz-appearance: none;  -ms-appearance: none; 
		background: #fff; border: 1px solid #ddd; outline: none; cursor: pointer;
	}
	.form-check {width: 17px; height: 17px;}
	.form-check:checked {background: #fff url(http://img.nurifunding.co.kr/check-icon.png) no-repeat 3px 2px; background-size: 10px;}
	.form-radio {width: 17px; height: 17px; border-radius: 50%;}
	.form-radio:checked {background: #fff url(https://nurifunding.co.kr/img/radio_icon.png) no-repeat -1px; background-size: 17px;}
    .form-base {
    	appearance: none; -webkit-appearance: none;  -moz-appearance: none;  -ms-appearance: none; 
    	position: relative; display: inline-block; vertical-align: middle; background: #fff; height: 29px; padding: 0 5px; padding-bottom: 2px; width: 50px; box-sizing: border-box; font-size: 13px; border: 1px solid #ddd;
    }
    .form-input {}
    .form-select {}
    .btn-base {position: relative; display: inline-block; vertical-align: middle; box-sizing: border-box; color: #fff; background: #398fe1; height: 26px; padding: 0 5px; border-radius: 3px; line-height: 26px; font-size: 13px; text-align: center;}
    
    .wrap {}
    .header, .mlnb-wrap {z-index: 11;}
    .header,
    .header-box {box-sizing: border-box; width: 100%;}
    .header {position: relative; background: #fff; height: 87.5px;}
    .header .header-box,
    .header .topbn.fixed {position: fixed; width: 100%; left: 0;}
    .header .header-box {top: 0; height: 48px; padding-right: 15px; padding-left: 15px; border-bottom: 2px solid #398FE1; background: #ffffff; z-index: 1;}
    .header .header-box > div {position: relative; clear: both; width: 100%;}
    .header .header-box .navbar-header {top: 9px;}
    .header .header-box .navbar-header h2 {text-align: center;}
    .header .header-box .navbar-header .navbar-brand {position: relative; display: inline-block; width: 140px; top: 2px;}
    .header .header-box .navbar-header .navbar-brand img {width: 100%;}
    .header .topbn {top: 48px;}
    .header .topbn.relat {position: relative;}
    .header .topbn .bnbar {display: block; width: 100%; background: #f74200;}
    .header .topbn .bnbar .bnimg {display: block; width: 320px; margin: 0 auto;}

    .nav-tab {position: absolute; left: 0px; top: 6px;}
    .nav-tab .icon-bar {display: block; width: 20px; height: 2px; background: #000;}
    .nav-tab .b2,.nav-tab .b3 {margin-top: 5px;}

    .my-tab {position: absolute; right: 0px; top: 4px; width: 16px; height: 22px;}
    .my-tab img {width: 100%;}

    .mlnb-wrap {display: none !important; position: fixed; /* z-index: 1; */ top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.819);}
    .mlnb-wrap.on {display: block !important;}
    .mlnb-container {position: absolute; top: 0; left: 0px; width: 285px; height: 100%; background: #fff;}
    .mlnb-header {background: #398fe1; padding: 15px 0px 20px 20px;}
    .mlnb-header .mh-logo img {width: 150px}
    .mlnb-header .cls-btn {position: relative; top: 0px; right: 15px; float: right;}
    .mlnb-header .cls-btn img {width: 26px;}

    .mlnb-header .t-box {margin-top: 10px; color: #fff; font-size: 14px; line-height: 1.5em;}
    .mlnb-header .t-box p {position: relative;}
    .mlnb-header .t-box .lgout {position: absolute; right: 15px; bottom: 0;}
    .mlnb-header .t-box .lgout .img-lock {position: relative; top: -2px; width: 28px; vertical-align: middle; margin-left: 3px;}
    .mlnb-header .t-box p, .mlnb-header .t-box a {letter-spacing: 0;}
    .mlnb-header .t-box p.nth-3 {margin-top: 10px;}
    .mlnb-header .t-box p.nth-3 a {display: inline-block; color: #fff;/* width: 80px; */padding: 2px 4px;text-align: center;border: 1px solid #fff;font-size: 13px;}
    .mlnb-header .t-box p.nth-3 a.nth-2 {margin-left: 3px;}

    .mlnb {}
    .mlnb > li {position: relative; border-bottom: 1px solid #ddd;}
    .mlnb > li > a { display: block; padding: 15px 20px 15px 20px; color: #333; letter-spacing: 0;}
    .mlnb > li > a > img {position: absolute; width: 9px;  right: 20px; top: 16px;}
    .mlnb > li:hover .m-sub-nav {display: block;}

    .m-sub-nav {display: none; position: relative; width: 100%; border-top: 1px solid #ddd;}
    .m-sub-nav a {display: block;margin: 0 auto;font-size: 15px; padding: 10px 0 10px 30px; background: #e7e7e7; border-top: 1px solid #fff;}
    .m-sub-nav li:first-child a {border-top: none;}
    .m-sub-nav a:hover, .gnb .menu-2 a:active {color: #398fe1;}

    .footer {padding: 40px 0; background: #282828; margin-top: 0;}
    .footer .row {width: 300px; margin: 0 auto;}
    .footer .a-txt, .footer .f-txt, .footer .c-txt {margin-top: 15px; color: #b4b4b4;}
    .footer .c-txt {margin-top: 10px;}
    .footer .footer-box div[class*="-txt"]:first-child {margin-top: 0px;}
    .footer .a-txt > a {display: inline-block; margin-left: 7px; color: #d3d3d3; font-size: 13px;}
    .footer .a-txt > a:first-child {margin-left: 0;}
    .footer .f-txt, .footer .f-txt address {font-size: 12px; line-height: 1.5em; word-break: keep-all;}
    .footer .c-txt small {font-size: 11px; margin-bottom: 5px; display: block;}
    .fc-yellow {color: #ffea00;}

    .footer .f-txt .xs-br {display: block;}

    /* 180528 푸터 수정 */
    .footer {position:relative; box-sizing:border-box; min-width:225px; margin:0 auto; padding:25px 40px 35px; color: #b4b4b4; background: #282828;}
    .footer .f-link-list {margin-top:5px}
    .footer .f-link-list li {float:left; margin-left:6px}
    .footer .f-link-list li:first-child {margin-left:0;}
    .footer .f-link-list li a {display:block; width:80%;}
    
    .footer .logo {position:relative; display:block; width:150px; margin-left:-6px;}
    .footer .a-txt {position:relative; display:inline-block;}
    .footer .a-txt a {float:left; margin-left:13px; margin-top:10px; font-size:13px; color: #d3d3d3}
    .footer .a-txt a:first-child {margin-left:0}
    .footer .a-txt .nth-4 {clear:both; float:left; margin-left:0}
    
    .footer .f-adr-box {position:relative; margin-top:15px;}
    .footer .f-adr-box .f-adr {margin-top:15px}
    .footer .f-adr-box .f-adr:first-child {padding-top:115px;}
    .footer .f-adr-box .f-adr.last {position:absolute; top:0; margin-top:0}
    
    .footer .f-adr-box .f-adr address {font-size:12px; line-height:1.5em; word-break:keep-all;}
    .footer .f-adr-box .f-adr address span {display:block; margin-bottom:2px; font-size:15px;}
    .footer .f-txt-box {position:relative; margin-top:15px;}
    .footer .f-txt {font-size:12px; line-height:1.5em; word-break:keep-all;}
    .footer .f-txt span {display:inline-block}
    
    
    
    
    
    /*
    
    .footer .f-adr-box .f-adr {float:left; margin-right:35px}
    .footer .f-adr-box .f-link-list {margin-top:10px;}*/
    
    /* 180523_사이드배너_카카오톡 플러스 친구_다솜 */
    .side-banner {z-index: 9; position:fixed; display:inline-block; width: 110px; bottom:85px; right:0}
    .side-banner a {position:relative; display:inline-block;}
    .side-banner a.kakaoPlus {width: 70px; left: 20px;}
    .side-banner a.new50Rew {width: 110px;}
    .side-banner a img {}
    
    /* 180622_툴팁박스_다솜 */
    .tooltip-box {display:inline-block; }
    .tooltip-box .tooltip-txt {padding-right:5px; vertical-align:middle; font-size:13px; color:#3f3f3f}
    .invest-detail-view-area .invest-detail-box .max-money-tooltip .btn-tooltip {vertical-align:middle;}
    .btn-tooltip {position:relative; display:inline-block; width:13px; height:13px; vertical-align:middle; border-radius:100%; background:#c2c9d0;}
    .btn-tooltip span {position:absolute; display:block; width:100%; height:100%; top:50%; margin-top:-7px; left:50%; margin-left:-4px; font-size:12px; line-height:13px; font-weight:bold; vertical-align:middle; color:#fff;}
    .tooltip-detail {z-index:995; position:absolute; width:145px; margin-top:3px; right: 0; /*margin-left:-40px*/; padding:8px 9px;  border:1px solid #bab8b9; border-radius:2px; background:#fff; -webkit-box-shadow: 4px 4px 17px -6px rgba(140,140,140,0.6); -moz-box-shadow: 4px 4px 17px -6px rgba(140,140,140,0.6); box-shadow:4px 4px 17px -6px rgba(140,140,140,0.6);}
    .tooltip-detail p {font-size:12px; line-height:15px; color:#3f3f3f; word-break:keep-all}
    .tooltip-detail .f-bd {margin-bottom:5px; color:#000}
    
    /* 180704_팝업_다솜 */
    .pop-com {z-index: 10000; display:block; position:fixed; box-sizing:border-box; overflow-y:auto; width:100%; height:100%; top:0; left:0; padding:0 15px; background:rgba(0, 0, 0, 0.7)}
    .pop-com .pop-wrap {z-index: 10001; display:block; position:relative; box-sizing:border-box; width:100%; height:auto; top:50%; margin-bottom:50px; padding:15px 8px 7px; background:#f5f5f5;}
    .pop-com .pop-top-box {}
    .pop-com .pop-top-box .pop-tit {font-size:20px; font-weight:600; line-height:20px; text-align:center; color:#3b3b3b}
    .pop-com .pop-container {margin-top:9px; padding:20px 20px 22px; border:1px solid #ddd; border-radius:4px; background:#fff}
    .pop-com .pop-container .pop-txt-0 {margin-top:9px; font-size:17px; line-height:17px; font-weight:600}
    .pop-com .pop-container .pop-txt-1 {margin-top:7px; font-size:14px; line-height:20px; word-break:keep-all; color:#505050}
    .pop-com .pop-container .btn-com {margin-top:13px; display:inline-block; width:100%; height:38px; font-size:14px; line-height:38px; text-align:center; border-radius:4px}
    .pop-com .pop-container .btn-com.btn-wid-1 {width:125px;}
    .pop-com .pop-container .btn-box {text-align:center; margin:0 auto}
    .pop-com .pop-container .btn-box.btn-box-wid2 {margin:10px auto 15px; padding:0 5px}  
    .pop-com .pop-container .btn-box.btn-box-wid2 a {float:right; width:48.5%;}
    .pop-com .pop-container .btn-box.btn-box-wid2 a:first-child {float:left;}
    
    .pop-com .btn-close {display:inline-block; position:absolute; width:auto; height:16px; top:18px; right:12px; background:url(https://nurifunding.co.kr/img/btn_close.png) no-repeat 0 center; background-size:auto 15px;}
    .pop-com .btn-close span {padding-left:20px; font-size:12px; font-weight:600; vertical-align:middle; line-height:15px; color:#696969}
    

    /* 180727 한글표기를 위한 텍스트 추가_다솜 */
    .nr-money-txt {display:block; margin-top:10px; padding-right:11%; font-size:15px; line-height:15px; color:#686868; text-align:right;}
}

/*테블릿 & PC영역*/
@media (min-width: 768px){
    
    .side-banner {z-index: 99999; position:fixed; display:inline-block; width: auto; top:200px; left: 50%; margin-left: 645px;}
    .side-banner.subpage {top: 145px; margin-left: 540px;}
    .side-banner a {position:relative; display:inline-block;}
    .side-banner a img {max-width: none;}

    .hidden-md {display: none !important;}
    .show-md {display: block !important;}

	.dropdown {position: relative; display: inline-block; vertical-align: middle; color: #333;}
	.dropdown .btn {position: relative; border: 1px solid #ddd; background: #fff; color: #333; box-sizing: border-box; padding: 0px 10px; border-radius: 6px; text-align: left; outline: none; width: 100%; font-size: 16px; height: 36px; line-height: 29px;}
	.dropdown .btn span {position: relative; font-size: 10px; color: #398FE2;}
	.dropdown .dropdown-menu {display: none; position: absolute; border: 1px solid #ddd; background: #fff; border-radius: 6px; margin-top: -1px; z-index: 1; width: 100%;}
	.dropdown .dropdown-menu li a {display: block; padding: 5px 10px; line-height: 1.2em; font-size: 1em; text-align: left;}
	.dropdown .dropdown-menu li a:hover {color: #398fe2;}
    .form-base {
    	appearance: none; -webkit-appearance: none;  -moz-appearance: none;  -ms-appearance: none; 
    	position: relative; display: inline-block; vertical-align: middle; background: #fff; height: 36px; padding: 0 5px; padding-bottom: 2px; width: 170px; box-sizing: border-box; font-size: 16px; border: 1px solid #ddd;
    }

    .form-box {position: relative;}
	.form-box * {vertical-align: middle;}
	.form-check,
	.form-radio {
		position: relative; appearance: none; -webkit-appearance: none;  -moz-appearance: none;  -ms-appearance: none; 
		background: #fff; border: 1px solid #ddd; outline: none; cursor: pointer;
	}
	.form-check {width: 20px; height: 20px; top: -1px;}
	.form-check:checked {background: #fff url(http://img.nurifunding.co.kr/check-icon.png) no-repeat 3px 3px; background-size: 12px;}
	.form-radio {width: 20px; height: 20px; border-radius: 50%;}
	.form-radio:checked {background: #fff url(https://nurifunding.co.kr/img/radio_icon.png) no-repeat -1px; background-size: 20px;}
    .form-input {}
    .form-select {}
    .btn-base {position: relative; display: inline-block; vertical-align: middle; box-sizing: border-box; color: #fff; background: #398fe1; height: 36px; padding: 0 5px; border-radius: 3px; line-height: 36px; font-size: 14px; text-align: center;}


    /* PC 해더 시작 */
    .wrap {}
    .header, .footer {font-family: 'Noto Sans KR', sans-serif;}
    .header, .gnb {z-index: 11;}
    /*.gnb .sub-navbar {z-index: 3;}*/
    .header, .gnb {height: 90px;}
    .header {position: relative;}
    .gnb {position: fixed; left: 0; width: 100%; background: #fff;
        transition: box-shadow 1s;
    }
    .gnb.on {box-shadow: 0 1px 2px 1px rgba(0,0,0, .1);}
    .gnb > .inner {height: 100%; position: relative;}
    .gnb .navbar-header {position: absolute; left: 0; top: 28px;}
    .gnb .navbar-header .navbar-brand {position: relative; display: inline-block; width: 200px;}
    .gnb .navbar-header .navbar-brand img {}

    .gnb .navbar-collapse {position: relative; top: 25px; float: right;}
    .gnb .navbar-collapse .menu {}
    .gnb .navbar-collapse .menu > li {display: inline-block; position: relative; margin-left: 32px; vertical-align: middle;font-size: 15px; text-align: center; /*background: #000000;*/}
    .gnb .navbar-collapse .menu .hidden-margin {margin-left: 0; width: 130px; height: 10px;}
    .gnb .navbar-collapse .menu > li:first-child,
    .gnb .navbar-collapse .menu .hidden-margin + li {margin-left: 0;}
    .gnb .navbar-collapse .menu > li.btn + li.btn {margin-left: 8px;}
    .gnb .navbar-collapse .menu > li.big,
    .gnb .navbar-collapse .menu > li.btn {padding: 0;}
    .gnb .navbar-collapse .menu > li.big {margin-left: 45px; font-size: 22px; font-weight: 700;}
    .gnb .navbar-collapse .menu > li.myinfo {margin-left: 125px;}
    .gnb .navbar-collapse .menu > li > a {display: inline-block; position: relative; padding: 10px 0; box-sizing: border-box; letter-spacing: 0;}
    .gnb .navbar-collapse .menu > li.big > a {}
    .gnb .navbar-collapse .menu > li.on > a {color: #398fe1;}
    .gnb .navbar-collapse .menu > li > a .icon {vertical-align: text-bottom; margin-right: 5px;}
    .gnb .navbar-collapse .menu > li > a.btn-cmm {display: block; height: 39px; padding: 0 20px; box-sizing: border-box; border-radius: 3px; line-height: 39px; text-align: center;}
    .gnb .navbar-collapse .menu > li > a.btn-cmm.btn-white {border: 1px solid #398fe1; background: #fff; color: #398fe1;}
    .gnb .navbar-collapse .menu > li > a.btn-cmm.btn-blue {border: 1px solid #398fe1; background: #398fe1; color: #fff;}
    .gnb .navbar-collapse .menu > li > a.btn-cmm.join {padding: 0; width: 84px;}
    .gnb .navbar-collapse .menu > li:hover > a:after {content: ''; position: absolute; left: 0; bottom: -4px; width: 100%; border-bottom: 4px solid #398fe1;}
    .gnb .navbar-collapse .menu > li.btn > a:after {display: none;}

    /*.gnb .navbar-collapse .menu > li.on .menu-2,
    .gnb .navbar-collapse .menu > li:hover .menu-2 {top: 80px; opacity: 1; filter: alpha(opacity=100); visibility: visible;}*/

    /*.gnb .menu > li .menu-2 {display: none;}
    .gnb .menu > li:hover .menu-2 {display: block;}*/
    .gnb .menu > li .menu-2 {
        -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;
        opacity: 0; filter: alpha(opacity=0); visibility: hidden;
    }
    .gnb .menu > li:hover .menu-2 {opacity: 1; filter: alpha(opacity=100); visibility: visible;}
    .gnb .menu-2 {margin-left: -250px; left: 50%; bottom: -44px; width: 500px;}
    .gnb .menu-2 {position: absolute; z-index: 1; height: 40px; padding-top: 24px; line-height: 1.4; text-align: center;}
    .gnb .menu > li.myinfo .menu-2 {margin-left: auto; left: auto; right: 0; text-align: right;}
    .gnb .menu-2 > li {display: inline-block;}
    .gnb .menu-2 > li:first-child {margin-left: 0;}
    .gnb .menu-2 > li {margin-left: 20px;}
    .gnb .menu-2 > li:before {content: ''; display: inline-block; position: relative; top: -1px; left: -9.5px; width: 1px; height: 14px; background: #ccc; vertical-align: middle; }
    .gnb .menu-2 > li:first-child:before {display: none;}
    .gnb .menu-2 > li > a {display: inline-block; text-align: center; font-size: 15px; color: #555; font-weight: 300; cursor: pointer;}
    .gnb .menu-2 > li > a:hover, .gnb .sub-navbar .menu-2 > li > a:active {color: #398fe1;}
    .gnb .menu2-bg {
        -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;
        opacity: 0; filter: alpha(opacity=0); visibility: hidden; position: absolute; left: 0; bottom: -40px; width: 100%; height:40px; background: #fff; border-bottom: 1px solid #222; box-shadow: 0 1px 1px rgba(0,0,0, .1); line-height: 1.4; 
    }
    .gnb .menu2-bg.on {opacity: 1; filter: alpha(opacity=100); visibility: visible;}

    /*.gnb .navbar-collapse .menu > li .sub-navbar {
        z-index: -1; top: 40px; opacity: 0; filter: alpha(opacity=0); visibility: hidden; 
        transition: all 0.8s; -webkit-transition: all 0.8s; -moz-transition: all 0.8s; -o-transition: all 0.8s;
    }
    .gnb .navbar-collapse .menu > li.on .sub-navbar,
    .gnb .navbar-collapse .menu > li:hover .sub-navbar {top: 80px; opacity: 1; filter: alpha(opacity=100); visibility: visible;}
    .gnb .sub-navbar {position: fixed; left: 0; top: 90px; width: 100%; width: 100%; height: 40px; background: #fff; border-bottom: 1px solid #222; box-shadow: 0 1px 1px rgba(0,0,0, .1); line-height: 1.4;}
    .gnb .sub-navbar .link-txt {position: absolute; left: 0;}
    .gnb .sub-navbar .menu-2,
    .gnb .sub-navbar .menu-2 > li {display: inline-block;}
    .gnb .sub-navbar .menu-2 {position: absolute; left: 50%; margin-left: 50px;}
    .gnb .sub-navbar .menu-2 > li:first-child {margin-left: 0;}
    .gnb .sub-navbar .menu-2 > li {margin-left: 20px;}
    .gnb .sub-navbar .menu-2 > li:before {content: ''; display: inline-block; position: relative; top: -1px; left: -9.5px; width: 1px; height: 14px; background: #ccc; vertical-align: middle; }
    .gnb .sub-navbar .menu-2 > li:first-child:before {display: none;}
    .gnb .sub-navbar .menu-2 > li > a {display: inline-block; text-align: center; font-size: 15px; color: #555; font-weight: 300;}
    .gnb .sub-navbar .menu-2 > li > a:hover, .gnb .sub-navbar .menu-2 > li > a:active {color: #398fe1;}
    .gnb .menu2-bg {opacity: 0; filter: alpha(opacity=0); visibility: hidden; position: absolute; left: 0; bottom: -40px; width: 100%; height: 40px; background: #fff; border-bottom: 1px solid #222; box-shadow: 0 1px 1px rgba(0,0,0, .1); line-height: 1.4; -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;}
    .gnb .menu2-bg.on {opacity: 1; filter: alpha(opacity=100); visibility: visible;}*/



    /*.gnb .navbar-collapse .menu .h-link {margin-top: -10px;}
    .gnb .navbar-collapse .menu .h-link.fir {margin-left:15px;} 
    .gnb .navbar-collapse .menu .h-link img {width:105px;}*/
    /* .footer {position: relative; padding: 40px 0; background: #282828; color: #b4b4b4; margin-top: 0;}
    .footer .row {position: relative; padding-left: 100px;}
    .footer .row.d-logo {position: absolute; left: 0; padding-left: 0;}
    .footer .a-txt, .footer .f-txt {margin: 15px auto;}
    .footer .c-txt {margin-top: 10px;}
    .footer .footer-box div[class*="-txt"]:first-child {margin-top: 0px;}
    .footer .a-txt > a {display: inline-block; margin-left: 20px; color: #d3d3d3}
    .footer .a-txt > a:first-child {margin-left: 0;}
    .footer .f-txt, .footer .f-txt address {font-size: 14px; line-height: 1.5em; word-break: keep-all;}
    .footer .c-txt small {font-size: 12px; margin-bottom: 10px; display: block;}
    .fc-yellow {color: #ffea00;}
    
    .footer .a-link {}
    .footer .a-link > a {display: inline-block; margin: 0 7px;}
    .footer .a-link > a:first-child {margin-left: -5px;}
    .footer .f-txt .min-xs-br {display: block;} */

    
    /* 180528 푸터 수정 */
    .footer {position:relative; padding-bottom: 20px; background: #3D3F49; color: #ccc;}
    .footer [class*='area-'] {border-top: 1px solid #4f515b;}
    .footer [class*='area-']:first-child {border-top: 0;}
    .footer .area-term {padding: 20px 0; background: #33353e;}
    .footer .area-term .link {position: relative; display: inline-block; padding: 0 30px; font-size: 15px; line-height: 1.2; color: #bbb; letter-spacing: normal;}
    .footer .area-term .link:before {content: ''; display: inline-block; position: absolute; left: -1px; top: 2px; width: 1px; height: 15px; background: #bbb;}
    .footer .area-term .link:first-child {padding-left: 0;}
    .footer .area-term .link:first-child:before {display: none;}
    .footer .area-contact {padding: 30px 0;}
    .footer .area-contact .inner {font-size: 0;}
    .footer .area-contact .inner > * {display: inline-block; position: relative; vertical-align: middle;}
    .footer .area-contact .logo {margin-right: 65px;}
    .footer .area-contact .s-1 {font-size: 27px; color: #fff;}
    .footer .area-contact .s-2 {top: -1px; margin-left: 10px; font-size: 35px; color: #398fe1;}
    .footer .area-contact .s-3 {margin-left: 10px; margin-right: 35px; font-size: 18px; color: #ccc; font-weight: 300;}
    .footer .area-contact .link {margin-left: 10px;}
    .footer .area-addr [class*='row-'] {position: relative;}
    .footer .area-addr .row-addr {padding: 35px 0;}
    .footer .area-addr .row-addr .split {float: left; position: relative; width: 50%;}
    .footer .area-addr .row-addr .split address {font-size: 16px; line-height: 1.5; font-weight: 300;}
    .footer .area-addr .row-addr .split address span {margin-right: 5px; font-size: 18px; font-weight: 500;}
    .footer .area-addr .row-addr .split.split-1 .link {position: absolute; bottom: 0px; right: 45px;}
    .footer .area-addr .row-notice {padding: 15px; background: #41434E; font-size: 13px; line-height: 1.4; color: #9f9f9f; letter-spacing: 0; word-break: keep-all;}
    .footer .area-addr .row-certify {padding: 20px 0;}
    .footer .area-addr .row-certify .list > li {margin-left: 20px; display: inline-block; vertical-align: middle;}
    .footer .area-addr .row-certify .list > li:first-child {margin-left: 0;}
    .footer .area-addr .row-certify .list > li .link > img {}
    .footer small {float: right; position: absolute; top: 35px; right: 0; font-size: 13px; color: #bbb;}
    
    /* 180622_툴팁박스_다솜 */
    .tooltip-box {display:inline-block; }
    .tooltip-box .tooltip-txt {padding-right:5px; vertical-align:middle; font-size:16px; color:#3f3f3f}
    .invest-detail-view-area .invest-detail-box .max-money-tooltip .btn-tooltip {vertical-align:middle;}
    .btn-tooltip {position:relative; display:inline-block; width:17px; height:17px; vertical-align:middle; border-radius:100%; background:#c2c9d0;}
    .btn-tooltip span {position:absolute; display:block; width:100%; height:100%; top:50%; margin-top:-8px; left:50%; margin-left:-4px; font-size:14px; line-height:17px; font-weight:bold; vertical-align:middle; color:#fff;}
    .tooltip-detail {z-index:995; position:absolute; width:205px; margin-top:5px; right: 0; /*margin-left:-40px*/; padding:17px 19px;  border:1px solid #bab8b9; border-radius:2px; background:#fff; -webkit-box-shadow: 4px 4px 17px -6px rgba(140,140,140,0.6); -moz-box-shadow: 4px 4px 17px -6px rgba(140,140,140,0.6); box-shadow:4px 4px 17px -6px rgba(140,140,140,0.6);}
    .tooltip-detail p {font-size:14px; line-height:20px; color:#3f3f3f; word-break:keep-all}
    .tooltip-detail .f-bd {margin-bottom:8px; color:#000}
    
    /* 180704_팝업_다솜 */
    .pop-com {z-index: 10000; display:block; position:fixed; overflow-y:auto; width:100%; height:100%; top:0; left:0; background:rgba(0, 0, 0, 0.7)}
    .pop-com .pop-wrap {z-index: 10001; display:block; position:relative; box-sizing:border-box; width:570px; height:auto; left:50%; /*top:50%;*/ margin-top:180px; margin-bottom:100px; margin-left:-275px; padding:30px 14px 13px; background:#f5f5f5;}
    .pop-com .pop-top-box {}
    .pop-com .pop-top-box .pop-tit {font-size:30px; font-weight:600; line-height:30px; text-align:center; color:#3b3b3b}
    .pop-com .pop-container {margin-top:15px; padding:36px 44px 30px; border:1px solid #ddd; border-radius:4px; background:#fff}
    .pop-com .pop-container .pop-txt-0 {margin-top:15px; font-size:28px; line-height:28px; font-weight:600}
    .pop-com .pop-container .pop-txt-1 {margin-top:13px; font-size:16px; line-height:24px; color:#505050}
    .pop-com .pop-container .btn-com {margin-top:20px; display:inline-block; width:100%; height:54px; font-size:18px; line-height:54px; text-align:center; border-radius:4px}
    .pop-com .pop-container .btn-com.btn-wid-1 {width:193px;}
    .pop-com .pop-container .btn-box {text-align:center; margin:0 auto}
    .pop-com .pop-container .btn-box.btn-box-wid2 {margin:20px auto 30px; padding:0 20px}  
    .pop-com .pop-container .btn-box.btn-box-wid2 a {float:right; width:48.5%;}
    .pop-com .pop-container .btn-box.btn-box-wid2 a:first-child {float:left;}
    
    .pop-com .btn-close {display:inline-block; position:absolute; width:auto; height:24px; top:32px; right:16px; background:url(https://nurifunding.co.kr/img/btn_close.png) no-repeat 0 center;}
    .pop-com .btn-close span {padding-left:30px; font-size:18px; font-weight:600; line-height:24px; color:#696969}
    
    /* 180727 한글표기를 위한 텍스트 추가_다솜 */
    .nr-money-txt {display:block; margin-top:10px; padding-right:25px; font-size:16px; line-height:16px; color:#686868; text-align:right;}
}

/* 사이드 배너 테블릿 & 소형 모니터 */
@media (min-width: 768px) and (max-width: 1200px) {
    .side-banner {z-index: 99999; position:fixed; display:inline-block; width: auto; top:200px; left: 50%; margin-left: 645px;}
    .side-banner.subpage {top: 130px; margin-left: 540px;}
}

@media (min-width: 980px){
    /*.header {height: 85px;}
    .gnb .navbar-header {top: -10px;}
    .gnb .navbar-header .navbar-brand {width: 200px;}
    .gnb .navbar-header .navbar-brand img {width: 200px;}

    .gnb .navbar-collapse .menu > li {font-size: 17px; margin-left:8px;}
    .gnb .navbar-collapse .menu .h-link.fir {margin-left:20px;} 
    .gnb .navbar-collapse .menu .h-link img {width:130px;}

    .footer .footer-box {width:1000px; padding-left:30px;}
    .footer .a-txt a {margin-left: 20px; font-size:16px;}
    .footer .f-adr-box .f-adr {width: auto; margin-right:35px}
    .footer .f-adr-box .f-adr address {font-size:14px; line-height:23px;}
    .footer .f-adr-box .f-adr address span {font-size:20px;}
    .footer .f-txt {font-size:14px; line-height:23px;}

    .tooltip-detail {right:auto; margin-left:-40px}*/
}

/* 
    .footer .f-txt span {display:inline-block} */

/*@media (min-width: 980px) {
	.hidden-md {display: none !important;}
}*/
@media (max-width: 1560px){
  .side-banner {left: auto; margin-left: auto; right: 10px;}
}