/*body, html, * {font-family: 'Noto Sans KR', sans-serif;}*/

.hidden-md {display:none !important;}
.show-md {display: block !important;}

.show-smxs, .show-smxs-ib, 
.hidden-mdlg, .hidden-mdlg-ib {display: none !important;}