@charset "UTF-8";

@media (min-width: 992px) {
  .container {
    /*width: 945px;*/
    width: 1200px; 
  }
}

/*공통 속성*/
.iph3 {overflow: auto; white-space: normal; text-overflow: clip}
/*아이콘*/

/*전체*/
.wrap {position: relative; width: 100%;}
.contents.home {position: relative; font-family: 'Noto Sans KR', sans-serif;}


/*모바일 영역, col-xs*/
@media (max-width: 767px){
	.com-pd {padding: 28px 10px 25px;}
	.com-ft {text-align: center; font-size: 18px; font-family: "Nanum Square", sans-serif; line-height: 1.2em;}
	.com-box {position: relative; margin: 0 auto; margin-top: 15px; width: 300px;}
	.arr-icon {display: inline-block; position: relative; background: url(https://nurifunding.co.kr/img/nrm_icon_m.png) no-repeat;} .br4 {border-radius: 4px;}
	.xs-block {display: block;}

	/* 팝업영역 공통 */
	.pop-sec {position: fixed; top: 0; left: 0; width: 100%; height: 100%; font-family: "Nanum Square", sans-serif;}
	.pop-sec {z-index: 10;}
	.pop-contents {}
	.pop-contents {position: absolute; z-index: 11; line-height: 1.2; word-break: keep-all;}
	.pop-contents * {letter-spacing: -0.5px;}
	.pop-contents [class*=pop-]:after {content: ""; display: block; clear: both;}
	/* 보이스 피싱 관련 공지 */
	.pop-phishing {color: #6a6a6a;}
	.pop-phishing .pop-contents {width: 320px; left: 50%; margin-left: -160px; top: 46px; background: #fff; text-align: center; font-size: 12.5px;}
	.pop-phishing .pop-contents > div {position: relative;}
	.pop-phishing .pop-contents .pop-top {padding-top: 30px;}
	.pop-phishing .pop-contents .pop-top > span {display: inline-block;}
	.pop-phishing .pop-contents .pop-top .left {background: #4b88d6; color: #fff; padding: 6px 10px; padding-left: 25px; float: left;}
	.pop-phishing .pop-contents .pop-top .right {display: none;}
	.pop-phishing .pop-contents .pop-top .right img {width: 150px;}
	.pop-phishing .pop-contents .pop-top h2 {font-size: 18px; letter-spacing: -1.2px; padding: 0 30px; margin-top: 20px; font-weight: 700;}
	.pop-phishing .pop-contents .pop-middle {padding: 0 10px;}
	.pop-phishing .pop-contents .pop-middle p {line-height: 1.5em; margin-top: 12px;}
	.pop-phishing .pop-contents .pop-bottom {background: #e3e3e3; text-align: center; margin-top: 20px; padding: 12px 0; font-size: 12px;}
	.pop-phishing .pop-contents .pop-bottom a {display: inline-block; vertical-align: middle;}
	.pop-phishing .pop-contents .pop-bottom .clsBtn {font-size: 13px; text-align: center; font-weight: 700; margin-left: 12px; margin-right: -10px; background: #fff; box-sizing: border-box; border: 1px solid #ccc; padding: 0 12px; line-height: 26px;}

	.main {width: 100%; background: #126cc3;}
	.main-box.main-common {position: relative; height: 202px;}
	.main-box.main-common > div {position: absolute;}
	.main-box.main-common > div.s1-div-1 {width: 100%; text-align: center;}
	.main-box.main-common > div.s1-div-1 p {position: relative; /*display: inline-block;*/ font-family: "Nanum Square", "Malgun Gothic", sans-serif;}
	.main-box.main-common > div.s1-div-1 p.nth-0 {color: #FFF; font-size: 16px; margin-top: 28px;}
	.main-box.main-common > div.s1-div-1 p.nth-1 {width: 300px; margin: 0 auto; height: 30px; font-size: 16px; background: #09345f; color: #fff; font-weight: 200; line-height: 1.75em;
	margin-top: 8px; letter-spacing: 0.5px; text-indent: -8px;}
	.main-box.main-common > div.s1-div-1 p.nth-1:after {position: absolute; content: ""; display: block; left: 36px; bottom: -15px; width: 1px; border: 8px solid #09345f; border-color: transparent; border-top-color: #09345f;}
	.main-box.main-common > div.s1-div-1 p.nth-1 .f-bd {font-weight: 400;}
	.main-box.main-common > div.s1-div-1 p.nth-2 {font-size: 41px; color: #fff; font-weight: 400; letter-spacing: -2px; font-weight: 400; margin-top: 10px; line-height: 1.1em; display: block;}
	.main-box.main-common > div.s1-div-1 p.nth-2 i {font-style: italic;}
	.main-box.main-common > div.s1-div-1 p.nth-3 {font-size: 22px; color: #fff; font-weight: 200; margin-top: 10px;}

	.main-box.swiper-container {position: relative; width: 320px; padding: 0 15px; margin: 0 auto; text-align: center;}
	.main-box .swiper-slide {position: relative; width: 300px; height: 215px;}
	.main-box .swiper-slide img {display: block;}
	.main-box .swiper-slide > div {position: absolute;}

	.main-box .swiper-slide > div.s1-div-2 {top: 26px; left: 20px; color: #fff; text-align: left; z-index: 1; font-family: "Nanum Square", "Malgun Gothic", sans-serif;}
	.main-box .swiper-slide > div.s1-div-2 .d1 {font-size: 16px; font-weight: 200;}
	.main-box .swiper-slide > div.s1-div-2 .d1 p.nth-2 {font-size: 21px; font-weight: 400; margin-top: 5px; line-height: 1.2em;}
	.main-box .swiper-slide > div.s1-div-2 .d2 {font-size: 11.5px; font-family: "Nanum Gothic", sans-serif; }
	.main-box .swiper-slide > div.s1-div-2 .d2 p {margin-top: 5px; font-weight: 300; letter-spacing: -0.5px;}
	.main-box .swiper-slide > div.s1-div-2 .d2 p:first-child {margin-top: 12px;}
	.main-box .swiper-slide > div.s1-div-2 .d2 p img {display: inline-block; width: 10px; position: relative; top: 1px; margin-right: 1px;}
	.main-box .swiper-slide > div.s1-div-3  {top: 88px; right: 0px;}
	.main-box .swiper-slide > div.s1-div-3 img {width: 138px;}
	.main-box .swiper-slide > div.s2-div-3  {top: 86px; right: 10px;}
	.main-box .swiper-slide > div.s2-div-3 img {width: 158px;}
	.main-box .swiper-slide > div.s3-div-3  {top: 85px; right: 10px;}
	.main-box .swiper-slide > div.s3-div-3 img {width: 155px;}

	.rate {padding: 20px 0px;}
	.rate .container {width: 320px;}
	.r-f, .r-f2 {text-align: center; color: #fff; font-family: "Nanum Gothic", sans-serif;}
	.r-f {font-size: 14px;}
	.r-f .q-w {position: relative; top: -2px; display: inline-block; margin-left: 4px; width: 20px; height: 20px; border-radius: 50%; background: #fff; text-align: center; cursor: pointer;}
	.r-f .q {position: relative; display: block; top: 2px; left: 0px; color: #09345f; font-weight: 600; font-family: "Nanum Square", sans-serif;}
	.r-f .q .q-t {display: none; position: absolute; width: 136px; left: -54px; bottom: 24px; color: #fff; font-weight: 400; background: #000; border-radius: 1px; text-align: left; line-height: 1.2em; font-size: 16px; padding: 10px 8px; font-size: 13px; letter-spacing: -0.5px;}
	/*  .r-f .q .q-t:after {position: absolute; content: ""; bottom: -14px; left: 62px; display: block; width: 1px; border: 8px solid #000; border-color: transparent; border-top-color: #000;}*/
	.r-f .q:hover .q-t {display: block;}
	.r-f2 {font-size: 17px; margin-top: 6px;}
	.rr-nth-5 .r-f2 {position: relative; top: -6px;}
	.rate .mt {margin-top: 20px;}

	.miripayBn {position: relative; background: #7c88ff; padding: 12px 0; text-align: center;}
	.miripayBn figure img {width: 300px;}

	.benefit {background: #EBF4FB;}
	.benefit h2 {font-weight: 600; margin-bottom: 10px;}
	.benefit .container > .p1 {text-align: center; font-size: 14px; word-break: keep-all; line-height: 1.2em; color: #414141; font-weight: 300; width: 300px; margin: 0 auto;}
	.benefit .com-box {position: relative; height: 214px;}
	.benefit .com-box > div {position: absolute; bottom: 0; float: left; width: 59px;}
	.benefit .com-box .nth-1, .benefit .com-box .nth-3, .benefit .com-box .nth-5 {bottom: 13px;}
	.benefit .com-box .nth-1 {left: 0;}
	.benefit .com-box .nth-2 {left: 60px;}
	.benefit .com-box .nth-3 {left: 120px;}
	.benefit .com-box .nth-4 {left: 180px;}
	.benefit .com-box .nth-5 {left: 240px;}
	.benefit .com-box .p-per, .benefit .com-box .p-tit {font-size: 12.5px; text-align: center; word-break: keep-all; color: #a0b6c8;}
	.benefit .com-box .p-per {margin-bottom: 5px;}
	.benefit .com-box .p-tit {margin-top: 5px; line-height: 1.1em;}
	.benefit .com-box .p-chart {display: inline-block; width: 100%; vertical-align: bottom; background: #bdcfde; 
	transition: all 1s; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s;}
	.benefit .com-box .nth-5 .p-per, .benefit .com-box .nth-5 .p-tit {color: #126cc3;}
	.benefit .com-box .p-chart {height: 0;}
	.benefit .com-box .nth-5 .p-chart {background: #126cc3; height: 0;}

	.benefit .com-box .nuri .p-per, .benefit .com-box .nuri .p-tit {color: #126cc3;}
	.benefit .com-box .p-chart {height: 0;}
	.benefit .com-box .nuri .p-chart {background: #126cc3; height: 0;}

	#per-chart-m.list-4 {margin-top:5px}
	.benefit .com-box.list-4 > div {width: 24.5%;}
	.benefit .com-box.list-4 .nth-1, .benefit .com-box.list-4 .nth-3 {bottom: 0;}
	.benefit .com-box.list-4 .nth-1 {left: 0;}
	.benefit .com-box.list-4 .nth-2 {left: 25%;}
	.benefit .com-box.list-4 .nth-3 {left: 50%;}
	.benefit .com-box.list-4 .nth-4 {left: 75%;}
	/*
	.benefit .com-box .nth-1 .p-chart {height: 21px; height: 0;}
	.benefit .com-box .nth-2 .p-chart {height: 31px; height: 0;}
	.benefit .com-box .nth-3 .p-chart {height: 63px; height: 0;}
	.benefit .com-box .nth-4 .p-chart {height: 121px; height: 0;}
	.benefit .com-box .nth-5 .p-chart {height: 166px; background: #126cc3; height: 0;}

	.benefit .com-box .nth-1 .p-chart.chart01 {height: 21px;}
	.benefit .com-box .nth-2 .p-chart.chart02 {height: 31px;}
	.benefit .com-box .nth-3 .p-chart.chart03 {height: 63px;}
	.benefit .com-box .nth-4 .p-chart.chart04 {height: 121px;}
	.benefit .com-box .nth-5 .p-chart.chart05 {height: 166px;}
	*/

	.easy {background: #fff;}
	.easy h2 {font-weight: 500; margin-bottom: 10px;}
	.easy .container > .p1 {text-align: center; font-size: 14px; word-break: keep-all; line-height: 1.2em; color: #414141; font-weight: 300; width: 300px; margin: 0 auto;}
	.easy .com-box {text-align: center;}
	.easy .com-box img {position: relative; display: inline-block; width: 150px;}
	.easy .com-box div.nth-1 img {margin-top: 10px;}
	.easy .com-box div.nth-2 img {margin-top: 32px; margin-bottom: 10px; left: 17px;}
	.easy .com-box div.nth-3 img {margin-top: 32px; margin-bottom: 10px;}
	.easy .com-box div.nth-1 img.plus,  .easy .com-box div.nth-2 img.plus {width: 40px; left: 0; margin-bottom: -12px; margin-top: 10px;}
	.easy .com-box h3 {font-size: 16px; font-weight: 500; line-height: 1.2em; margin-bottom: 8px;}
	.easy .com-box p {font-size: 14px; line-height: 1.2em; font-weight: 300;}

	.ingProduct {background: #f5f5f5;}
	.ip-wrap {}
	.ip-outer {margin-top: 10px;}
	.ip-outer:first-child {margin-top: 0;}
	.ip-box {background: #fff; border: 1px solid #ddd; overflow: hidden;}
	.thumb-box {position: relative; width: 298px; height: 204px;}
	.thumb-box img {width: 100%;}
	.thumb-box .new {position: absolute; top: 10px; left: 10px; font-size: 12px; background: rgba(38, 196, 183, 0.88); padding: 9px 5px; color: #fff; border: 2px solid #fff; z-index: 1;}
	.thumb-box .end {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0, .58); text-align: center;}
	.thumb-box .end span {position: relative; color: #fff; display: inline-block; padding: 10px 40px; top: 85px; border: 1px solid #fff; letter-spacing: 0;}
	.iph3 {padding: 10px; font-size: 16px;}
	.ip-inner {padding: 0 10px; margin-top: -2px;}
	.ip-inner li[class*=ipli] {line-height: 1.5em; font-size: 14px;}
	li[class*=ipli] .pull-right {font-weight: 600; }
	.ipli-nth-5 {margin: 10px 0 3px; background: #dadada;}
	.ip-per-bar {width: 80%; height: 7px; }
	.ip-per-num {font-size: 13px; color: #777; margin-left: 2px;}
	.ip-percent {position: relative; font-size: 18px; font-weight: 600;}
	li[class*=ipli] .pull-right.day {font-weight: 500; font-size: 17px;}
	.ip-btn-box {text-align: center; margin: 15px 0;}
	.ip-btn {display: inline-block; width: 280px; color: #fff; line-height: 2.8em; font-size: 14px; letter-spacing: 0;}
	.ip-more-outer {margin: 20px auto 5px;}
	.ip-more-box {text-align: center;}
	.ip-more-btn {display: inline-block; width: 100%; border: 1px solid #dcdcdc; line-height: 2.5em; font-size: 15px; background: #126cc3; color: #fff;}
	.black-r-icon {width: 7px; height: 11px; background: url(https://nurifunding.co.kr/img/i_whiteArr.png) no-repeat; background-size: 6px; left: 6px;}

	.faq {background: #dae7f3;}
	.fq-outer {margin-top: 10px;}
	.fq-outer:first-child {margin-top: 0px;}
	.fq-box {padding: 20px 10px; background: #fff;}
	.fqh3, .fq-a {position: relative; padding-left: 24px; word-break: keep-all;}
	.fqh3 {padding-bottom: 15px; border-bottom: 1px solid #e5e5e5;}
	.fq-a {padding-top: 13px; font-size: 14px; line-height: 1.3em;}
	.q-icon, .a-icon {position: absolute; top: 0; left: 0; width: 17px; height: 20px;}
	.q-icon {background-position: -50px; top: -2px;}
	.a-icon {background-position: -75px; top: 15px;}
	.fq-btn-outer {margin: 20px auto 5px;}
	.fq-btn-box {text-align: center;}
	.fq-btn {display: inline-block; width: 100%; border: 1px solid #dcdcdc; line-height: 2.5em; font-size: 15px; background: #126cc3; color: #fff;}

	/* 180510_코스닥 벤처펀딩_다솜 */
	.vcfund {padding:32px 0 35px; text-align:center; background: #fff;}
	.vcfund .vf-tit-1 {position:relative; margin-bottom:5px; padding-bottom:7px; font-size:15px;}
	.vcfund .vf-tit-1:after {content:''; display:block; position:absolute; width:60px; height:1px; bottom:0; left:50%; margin-left:-30px; background:#a6a6a6}
	.vcfund .vf-tit-2 {margin-top:10px; font-size:15px;}
	.vcfund .vf-box {margin-top:15px}
	.vcfund .vf-box p {word-break:keep-all; line-height:17px;}
	.vcfund .vf-box .vf-txt-1 {font-size:13px;}
	.vcfund .vf-box .vf-txt-2 {font-size:12px;}

	/* 180625_수익률 하단 텍스트 추가_다솜 */
	.benefit .benefit-b-txt {margin-top:10px; font-size: 11px; text-align:center; line-height: 1.3em; color: #232323;}
}
@media (min-width: 410px) and (max-width: 480px){
    .main-box .swiper-slide > div.s1-div-2 .d2 p {letter-spacing: 0; font-size: 16px;}
}
@media (min-width: 360px) and (max-width: 480px){
    .main-box.swiper-container {width: 100%;}
    .main-box .swiper-slide {height: 230px;}
    .main-box .swiper-slide > div.s1-div-2 .d2 {font-size: 14px;}
    .main-box .swiper-slide > div.s1-div-3 img {width: 165px;}
    .main-box .swiper-slide > div.s3-div-3 img {width: 169px;}
    .main-box .swiper-slide > div.s2-div-3 img {width: 174px;}
}
@media (min-device-width: 320px) {
    .main-box.main-common > div.s1-div-1 p.nth-3 {font-size: 20px;}
}

@media (min-width: 768px) {
	/* 팝업영역 공통 */
	.pop-sec {position: fixed; top: 0; left: 0; width: 100%; height: 100%; font-family: "Nanum Square", sans-serif;}
	.pop-sec {z-index: 11;}
	.pop-contents {}
	.pop-contents {position: absolute; z-index: 11; line-height: 1.2; word-break: keep-all;}
	.pop-contents * {letter-spacing: -0.5px;}
	.pop-contents [class*=pop-]:after {content: ""; display: block; clear: both;}
	/* 보이스 피싱 관련 공지 */
	.pop-phishing {color: #6a6a6a;}
	.pop-phishing .pop-contents {width: 525px; left: 50%; margin-left: -262.5px; top: 50%; margin-top: -225px; background: #fff; font-size: 16px;}
	.pop-phishing .pop-contents > div {position: relative;}
	.pop-phishing .pop-contents .pop-top {padding-top: 30px;}
	.pop-phishing .pop-contents .pop-top > span {display: inline-block;}
	.pop-phishing .pop-contents .pop-top .left {background: #4b88d6; color: #fff; padding: 6px 10px; padding-left: 30px; float: left;}
	.pop-phishing .pop-contents .pop-top .right {float: right; padding-right: 35px;}
	.pop-phishing .pop-contents .pop-top .right img {width: 150px;}
	.pop-phishing .pop-contents .pop-top h2 {font-size: 24px; letter-spacing: -1.2px; padding: 0 30px; margin-top: 20px;}
	.pop-phishing .pop-contents .pop-middle,
	.pop-phishing .pop-contents .pop-bottom {padding: 0 30px;}
	.pop-phishing .pop-contents .pop-middle p {line-height: 1.5em; margin-top: 20px;}
	.pop-phishing .pop-contents .pop-bottom {background: #e3e3e3; text-align: right; margin-top: 40px; padding-top: 12px; padding-bottom: 10px; font-size: 15px;}
	.pop-phishing .pop-contents .pop-bottom a {display: inline-block; vertical-align: middle;}
	.pop-phishing .pop-contents .pop-bottom .clsBtn {text-align: center; font-weight: 700; margin-left: 12px; background: #fff; box-sizing: border-box; border: 1px solid #ccc; padding: 0 12px; line-height: 28px;}
}
/*테블릿 영역, col-sm */
@media (min-width: 768px) and (max-width: 991px) {
	.com-pd {padding: 98px 10px 95px;}
	.com-ft {text-align: center; font-size: 42px; font-family: "Nanum Square", sans-serif; line-height: 1.2em;}
	.com-box {position: relative; margin: 0 auto; margin-top: 10px;}
	.arr-icon {display: inline-block; position: relative; background: url(https://nurifunding.co.kr/img/nrm_icon.png) no-repeat;}
	.br4 {border-radius: 4px;}
	.sm-block {display: block;}

	.main {width: 100%; background: #126cc4;}
	.main-box.main-common {position: relative; width: 650px; height: 324px;}
	.main-box.main-common > div {position: absolute;}
	.main-box.main-common > div.s1-div-1 {width: 100%; text-align: center;}
	.main-box.main-common > div.s1-div-1 p {position: relative; /*display: inline-block;*/ font-family: "Nanum Square", "Malgun Gothic", sans-serif;}
	.main-box.main-common > div.s1-div-1 p.nth-0 {color: #FFF; font-size: 24px; margin-top: 40px;}
	.main-box.main-common > div.s1-div-1 p.nth-1 {width: 488px; margin: 0 auto; height: 46px; font-size: 27px; background: #09345f; color: #fff; font-weight: 200; line-height: 1.66em;
	margin-top: 12px;}
	.main-box.main-common > div.s1-div-1 p.nth-1:after {position: absolute; content: ""; display: block; left: 60px; bottom: -27px; width: 1px; border: 14px solid #09345f; border-color: transparent; border-top-color: #09345f;}
	.main-box.main-common > div.s1-div-1 p.nth-1 .f-bd {font-weight: 400;}
	.main-box.main-common > div.s1-div-1 p.nth-2 {font-size: 71px; color: #fff; font-weight: 400; letter-spacing: -2px; font-weight: 400; margin-top: 16px; display: block;}
	.main-box.main-common > div.s1-div-1 p.nth-2 i {font-style: italic;}
	.main-box.main-common > div.s1-div-1 p.nth-3 {font-size: 38px; color: #fff; font-weight: 200; margin-top: 20px;}

	.main-box.swiper-container {position: relative; padding: 0 50px; margin: 0 auto; text-align: center;}
	.main-box .swiper-slide {position: relative; width: 650px; height: 359px;}
	.main-box .swiper-slide img {display: block;}
	.main-box .swiper-slide > div {position: absolute;}

	.main-box .swiper-slide > div.s1-div-2 {top: 36px; left: 20px; color: #fff; text-align: left; z-index: 1; font-family: "Nanum Square", "Malgun Gothic", sans-serif;}
	.main-box .swiper-slide > div.s1-div-2 .d1 {font-size: 36px; font-weight: 200;}
	.main-box .swiper-slide > div.s1-div-2 .d1 p.nth-2 {font-weight: 400; margin-top: 10px;}
	.main-box .swiper-slide > div.s1-div-2 .d2 {font-size: 20px;}
	.main-box .swiper-slide > div.s1-div-2 .d2 p {margin-top: 10px; font-weight: 300;}
	.main-box .swiper-slide > div.s1-div-2 .d2 p:first-child {margin-top: 20px;}
	.main-box .swiper-slide > div.s1-div-2 .d2 p img {display: inline-block; position: relative; top: 4px; margin-right: 10px;}
	.main-box .swiper-slide > div.s1-div-3  {top: 86px; right: 0px;}
	.main-box .swiper-slide > div.s1-div-3 img {width: 300px;}
	.main-box .swiper-slide > div.s2-div-3  {top: 96px; right: 0px;}
	.main-box .swiper-slide > div.s2-div-3 img {width: 320px;}
	.main-box .swiper-slide > div.s3-div-3  {top: 66px; right: 10px;}
	.main-box .swiper-slide > div.s3-div-3 img {width: 342px;}

	.main-box .swiper-slide > div.s2-div-2 {top: 46px;}
	.main-box .swiper-slide > div.s2-div-2 .d2 p {letter-spacing: -1.5px;}
	.main-box .swiper-slide > div.s2-div-2 .d2 p.nth-2, .main-box .swiper-slide > div.s2-div-2 .d2 p.nth-4 {float: left; margin-right: 3px;}

	.rate {padding: 30px 0px;}
	.r-f, .r-f2 {text-align: center; color: #fff; font-family: "Nanum Gothic", sans-serif; letter-spacing: 0;}
	.r-f {font-size: 16px;}
	.r-f .q-w {position: relative; top: -1px; display: inline-block; margin-left: 4px; width: 22px; height: 22px; border-radius: 50%; background: #fff; text-align: center; cursor: pointer;}
	.r-f .q {position: relative; display: block; top: 2px; left: -1px; color: #09345f; font-weight: 600; font-family: "Nanum Square", sans-serif;}
	.r-f .q {position: relative; display: block; top: 2px; left: 0px; color: #09345f; font-weight: 600; font-family: "Nanum Square", sans-serif;}
	.r-f .q .q-t {display: none; position: absolute; width: 136px; left: -54px; bottom: 26px; color: #fff; font-weight: 400; background: #000; border-radius: 1px; text-align: left; line-height: 1.2em; font-size: 16px; padding: 10px 8px; font-size: 13px; letter-spacing: -0.5px;}
	/*  .r-f .q .q-t:after {position: absolute; content: ""; bottom: -14px; left: 62px; display: block; width: 1px; border: 8px solid #000; border-color: transparent; border-top-color: #000;}*/
	.r-f .q:hover .q-t {display: block;}
	.r-f2 {font-size: 24px; margin-top: 6px; font-weight: 500;}
	.rr-nth-5 .r-f2 {position: relative; top: -6px;}
	.rate .mt {margin-top: 30px;}

	.miripayBn {position: relative; background: #7c88ff; padding: 11px 0; text-align: center;}

	.benefit {background: #EBF4FB;}
	.benefit h2 {font-weight: 600; margin-bottom: 20px;}
	.benefit .container > .p1 {text-align: center; font-size: 18px; word-break: keep-all; line-height: 1.2em; margin-bottom: 50px; color: #414141; font-weight: 300;}
	.benefit .com-box {height: 482px;}
	.benefit .com-box > div {position: absolute; bottom: 0; left: 0; float: left; width: 145px;}
	.benefit .com-box .nth-1 {left: 0;}
	.benefit .com-box .nth-2 {left: 146px;}
	.benefit .com-box .nth-3 {left: 292px;}
	.benefit .com-box .nth-4 {left: 438px;}
	.benefit .com-box .nth-5 {left: 584px;}
	.benefit .com-box .p-per, .benefit .com-box .p-tit {font-size: 12.5px; text-align: center; word-break: keep-all; color: #a0b6c8;}
	.benefit .com-box .p-per {margin-bottom: 5px; font-size: 38px; font-weight: 300;}
	.benefit .com-box .p-tit {margin-top: 5px; line-height: 1.1em; font-size: 24px; font-weight: 300;}
	.benefit .com-box .p-chart {display: inline-block; width: 100%; vertical-align: bottom; background: #bdcfde; 
	transition: all 1s; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s;}
	.benefit .com-box .nth-5 .p-per, .benefit .com-box .nth-5 .p-tit {color: #126cc3;}
	.benefit .com-box .nth-5 .p-per {font-size: 44px; font-weight: 400;}
	.benefit .com-box .p-chart {height: 0;}
	.benefit .com-box .nth-5 .p-chart {background: #126cc3; height: 0;}

	#per-chart.list-4 {width:585px}
	.benefit .com-box .nuri .p-per, .benefit .com-box .nuri .p-tit {color: #126cc3;}
	.benefit .com-box .nuri .p-per {font-size: 44px; font-weight: 400;}
	.benefit .com-box .p-chart {height: 0;}
	.benefit .com-box .nuri .p-chart {background: #126cc3; height: 0;}

	/*
	.benefit .com-box .nth-1 .p-chart {height: 41px; height: 0;}
	.benefit .com-box .nth-2 .p-chart {height: 54px; height: 0;}
	.benefit .com-box .nth-3 .p-chart {height: 137px; height: 0;}
	.benefit .com-box .nth-4 .p-chart {height: 291px; height: 0;}
	.benefit .com-box .nth-5 .p-chart {height: 367px; background: #126cc3; height: 0;}

	.benefit .com-box .nth-1 .p-chart.chart01 {height: 41px;}
	.benefit .com-box .nth-2 .p-chart.chart02 {height: 54px;}
	.benefit .com-box .nth-3 .p-chart.chart03 {height: 137px;}
	.benefit .com-box .nth-4 .p-chart.chart04 {height: 291px;}
	.benefit .com-box .nth-5 .p-chart.chart05 {height: 367px;}
	*/

	.easy {background: #fff;}
	.easy h2 {font-weight: 500; margin-bottom: 20px;}
	.easy .container > .p1 {text-align: center; font-size: 18px; word-break: keep-all; line-height: 1.2em; margin-bottom: 50px; color: #414141; font-weight: 300;}
	.easy .com-box {text-align: center;}
	.easy .com-box img {position: relative; display: inline-block; width: 160px; margin-top: 52px; margin-bottom: 30px;}
	.easy .com-box div.nth-1 img {}
	.easy .com-box div.nth-2 img {left: 10px;}
	.easy .com-box div.nth-3 {left: 26px;}
	.easy .com-box div.nth-3 img {}
	.easy .com-box div.nth-1 img.plus,  .easy .com-box div.nth-2 img.plus {position: absolute; top: 40px; width: 50px;}
	.easy .com-box div.nth-1 img.plus {left: 220px;}
	.easy .com-box div.nth-2 img.plus {left: 234px;}
	.easy .com-box h3 {font-size: 24px; font-weight: 500; line-height: 1.2em; margin-bottom: 15px;}
	.easy .com-box div.nth-3 h3 {margin-bottom: 30px;}
	.easy .com-box p {font-size: 16px; line-height: 1.2em; word-break: keep-all; font-weight: 300;}
	/*.easy .ip-more-btn {width: 60%;}*/

	.ingProduct {background: #f5f5f5;}
	.ip-wrap {}
	.ip-outer {padding: 0; margin-top: 20px;}
	.ip-outer:nth-child(odd) {padding-right: 10px;}
	.ip-outer:nth-child(even) {padding-left: 10px;}
	.ip-box {background: #fff; border: 1px solid #ddd; overflow: hidden;}
	.thumb-box {position: relative; width: 353px; height: 242px;}
	.thumb-box img {width: 100%;}
	.thumb-box .new {position: absolute; top: 10px; left: 10px; font-size: 14px; background: rgba(38, 196, 183, 0.88); padding: 11px 5px; color: #fff; border: 2px solid #fff; z-index: 1;}
	.thumb-box .end {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0, .58); text-align: center;}
	.thumb-box .end span {position: relative; color: #fff; display: inline-block; padding: 10px 40px; top: 97px; border: 1px solid #fff; letter-spacing: 0; font-size: 20px;}
	.iph3 {padding: 13px 20px 10px; font-size: 20px;}
	.ip-inner {padding: 0 20px; margin-top: -2px;}
	.ip-inner li[class*=ipli] {line-height: 1.5em; font-size: 16px;}
	li[class*=ipli] .pull-right {font-weight: 600; }
	.ipli-nth-5 {margin: 10px 0 3px; background: #dadada;}
	.ip-per-bar {width: 80%; height: 7px; }
	.ip-per-num {font-size: 14px; color: #777; margin-left: 2px;}
	.ip-percent {position: relative; font-size: 20px; font-weight: 600;}
	li[class*=ipli] .pull-right.day {font-weight: 500; font-size: 19px;}
	.ip-btn-box {text-align: center; margin: 15px 0;}
	.ip-btn {display: inline-block; width: 88.5%; color: #fff; line-height: 2.8em; font-size: 16px; letter-spacing: 0;}
	.ip-more-outer {margin: 30px auto 0;}
	.ip-more-box {text-align: center;}
	.ip-more-btn {position: relative; left: -10px; display: inline-block; width: 60%; border: 1px solid #dcdcdc; line-height: 2.8em; font-size: 18px; background: #126cc3; color: #fff;}
	.black-r-icon {width: 10px; height: 16px; background: url(https://nurifunding.co.kr/img/i_whiteArr.png) no-repeat; left: 8px; top: 2px;}

	.faq {background: #dae7f3;}
	.fq-outer {margin-top: 20px;}
	.fq-box {padding: 20px 15px; background: #fff;}
	.fqh3, .fq-a {position: relative; padding-left: 40px;}
	.fqh3 {padding-bottom: 10px; border-bottom: 1px solid #e5e5e5; font-size: 17px; line-height: 1.2em; min-height: 72px;}
	.fq-a {padding-top: 13px; font-size: 14px; line-height: 1.3em; min-height: 126px}
	.q-icon, .a-icon {position: absolute; top: 0; left: 0; width: 30px; height: 33px;}
	.q-icon {background-position: -100px; top: 4px;}
	.a-icon {background-position: -150px; top: 18px;}
	.fq-btn-outer {margin: 30px auto 0px;}
	.fq-btn-box {text-align: center;}
	.fq-btn {display: inline-block; width: 60%; border: 1px solid #dcdcdc; line-height: 2.5em; font-size: 18px; background: #126cc3; color: #fff;}

	/* 180510_코스닥 벤처펀딩_다솜 */
	.vcfund {padding:65px 0 70px; text-align:center; background: #fff;}
	.vcfund .vf-tit-1 {position:relative; margin-bottom:10px; padding-bottom:15px; font-size:26px;}
	.vcfund .vf-tit-1:after {content:''; display:block; position:absolute; width:120px; height:1px; bottom:0; left:50%; margin-left:-60px; background:#a6a6a6}
	.vcfund .vf-tit-2 {margin-top:10px; font-size:26px;}
	.vcfund .vf-box {margin-top:45px}
	.vcfund .vf-box p {word-break:keep-all; line-height:30px;}
	.vcfund .vf-box .vf-txt-1 {font-size:24px;}
	.vcfund .vf-box .vf-txt-2 {font-size:18px;}

	/* 180625_수익률 하단 텍스트 추가_다솜 */
	.benefit .benefit-b-txt {margin-top:20px; font-size: 14px; text-align:center; line-height: 1.3em; color: #232323;}
}

/*테블릿 영역, col-md*/
@media (min-width: 992px) {
	/* .com-pd {padding: 80px 10px 80px;} */
	.com-ft {text-align: center; font-size: 40px; line-height: 1.2;}
	/* .com-box {position: relative; margin: 0 auto; margin-top: 20px;} */
	.arr-icon {display: inline-block; position: relative; background: url('https://nurifunding.co.kr/img/nrm_icon.png') no-repeat;}
	.br4 {border-radius: 4px;}
	.md-block {display: block;}

	.main {position: relative; width: 100%; background: #126cc4;}
	.main-box.swiper-container {position: relative;  padding: 0 0px; margin: 0 auto; text-align: center;}
	.main-box .swiper-slide {position: relative; height: 700px;}
	.main-box .swiper-slide.nth-1 {background: url('https://nurifunding.co.kr/img/renew/main/m_bnr_bg.jpg') no-repeat center;}
	.main-box .swiper-slide img {display: block; margin: 0 auto;}
    .main .quick-bar {position: absolute; width: 100%; bottom: 0;}
    .main .quick-bar .inner {background: #3690e2; height: 150px;}
    .main .quick-bar .inner .fst img {display: block;}
    .main .quick-bar .inner > [class*='box-'] {float: left; position: relative; box-sizing: border-box; font-size: 18px; color: #fff;}
    .main .quick-bar .inner > [class*='box-'] h2 {font-size: 18px;}
    .main .quick-bar .inner .box-2,
    .main .quick-bar .inner .box-3 {width: 480px; padding: 20px; border-left: 1px solid #fff; height: 100%;}
    .main .quick-bar .inner .box-2 {}
    .main .quick-bar .inner .box-2 .list {font-size: 0; white-space: nowrap;}
    .main .quick-bar .inner .box-2 .list > li {display: inline-block; margin: 12px 20px 0; text-align: center; font-size: 15px;}
    .main .quick-bar .inner .box-2 .list > li:first-child {margin-left: 15px;}
    .main .quick-bar .inner .box-2 .list > li figcaption {margin-top: 5px; letter-spacing: normal;}
    .main .quick-bar .inner .box-3 h2 .more-btn {float: right;}
    .main .quick-bar .inner .box-3 .list {margin-top: 12px; font-size: 15px;}
    .main .quick-bar .inner .box-3 .list > li {display: table; width: 100%; margin-top: 8px; font-weight: 300;}
    .main .quick-bar .inner .box-3 .list > li > * {display: table-cell; line-height: 1.5;}
    .main .quick-bar .inner .box-3 .list > li:first-child > * {font-weight: 400;}
    .main .quick-bar .inner .box-3 .list > li .tit {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
    .main .quick-bar .inner .box-3 .list > li .tit:before {content: '·'; display: inline-block; margin-right: 5px;}
    .main .quick-bar .inner .box-3 .list > li .create-at {text-align: right;}
    
    .ingProduct {padding: 100px 0 90px; background: #f5f5f5;}
    .ingProduct .inner {}
    .ingProduct .inner h1 .more-btn {display: inline-block; position: relative; top: 12px; float: right; font-size: 16px; color: #555;}
    .ingProduct .inner h1 .more-btn .ic-rArrow {margin-left: 5px;}
    .ingProduct .inner h1 .more-btn .ic-rArrow:after {border-color: #555;}
	.ingProduct .ip-wrap {position: relative; width: 1230px; left: -15px; margin-top: 20px;}
    /* .ingProduct .ip-outer {position: relative; margin: 0 15px; margin-top: 30px; padding: 0; width: 380px;} */
    .ingProduct .ip-outer {position: relative; padding: 0 15px; margin-top: 30px; width: 33.33%;}
    .ingProduct .ip-outer:nth-child(4n) {clear:both;}
	.ingProduct .ip-outer .ip-box {position: relative; margin: 0 auto; background: #fff; border: 1px solid #ddd; border-radius: 10px; overflow: hidden;}
	.ingProduct .ip-outer .ip-box:hover {box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.25);}
	/* .ingProduct .ip-outer .thumb-box .new {position: absolute; top: 10px; left: 10px; font-size: 14px; background: rgba(38, 196, 183, 0.88); padding: 11px 5px; color: #fff; border: 2px solid #fff; z-index: 1;}
	.ingProduct .ip-outer .thumb-box .end {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0, .58); text-align: center;}
    .ingProduct .ip-outer .thumb-box .end span {position: relative; color: #fff; display: inline-block; padding: 10px 40px; top:145px; border: 1px solid #fff; letter-spacing: 0; font-size: 20px;} */
    .ingProduct .ip-outer .ip-top {padding-right: 25px; font-size: 16px; letter-spacing: -0.4px;}
    .ingProduct .ip-outer .ip-top .pdt-no {display: inline-block; width: 90px; height: 40px; border-bottom-right-radius: 4px; line-height: 40px; text-align: center; font-size: 22px; color: #fff;}
    .ingProduct .ip-outer .ip-top .status,
    .ingProduct .ip-outer .ip-top .date {vertical-align: text-bottom;}
    .ingProduct .ip-outer .ip-top .status {margin-left: 10px;}
    .ingProduct .ip-outer.start .ip-top .pdt-no {background: #152475;}
    .ingProduct .ip-outer.wait .ip-top .pdt-no {background: #2736a8;}
    .ingProduct .ip-outer.end .ip-top .pdt-no {background: #7840d6;}
    .ingProduct .ip-outer.wait .ip-top .status,
    .ingProduct .ip-outer.start .ip-top .status {color: #1593dc;}
	.ingProduct .ip-outer .iph3 {padding: 20px 25px; line-height: 1.4; font-size: 22px; color: #09345f;}
	.ingProduct .ip-outer .ip-inner {margin: 0 25px; padding: 18px 20px; background: #f6f6f7;}
	.ingProduct .ip-outer .ip-inner > li {line-height: 1.7; font-size: 18px;}
    .ingProduct .ip-outer .ip-inner > li .pull-left {color: #666;}
    .ingProduct .ip-outer .ip-inner > li .pull-left:before {content: '·'; margin-right: 3px;}
	.ingProduct .ip-outer .ip-inner > li .pull-right {color: #333;}
    .ingProduct .ip-outer .per-bar {position: relative; margin: 20px 25px 0; height: 25px; background: #ddd;}
    .ingProduct .ip-outer .per-bar .bar {background: #3690e2; height: 100%;}
    .ingProduct .ip-outer.end .per-bar .bar {background: #d60101;}
    .ingProduct .ip-outer .per-bar .per {display: block; position: absolute; top: 0; width: 100%; line-height: 25px; text-align: center; font-size: 16px; color: #fff; letter-spacing: normal;}
    .ingProduct .ip-outer .row-status {margin-top: 20px; text-align: center; font-size: 20px;}
	/* .ingProduct .ip-outer .ip-percent {position: relative; font-size: 24px; font-weight: 600;}
	.ingProduct .ip-outer .ip-inner > li .pull-right.day {font-weight: 500; font-size: 23px;} */
	.ingProduct .ip-outer .btn-box {text-align: center; margin: 20px 0;}
	.ingProduct .ip-outer .btn {display: inline-block; width: 88.5%; height: 60px; line-height: 60px; font-size: 22px; color: #fff; font-weight: 300; letter-spacing: normal;}
	.ingProduct .ip-outer.end .btn-invest,
	.ingProduct .ip-outer.start .btn-invest {background: #09345f;}
    .ingProduct .ip-outer.wait .btn-invest {background: #5a7383;}
    .ingProduct .ip-outer .bg-cover {display: none;}
    .ingProduct .ip-outer .bg-cover .tbl {display: table; width: 100%; height: 100%;}
    /* .ingProduct .ip-outer .bg-cover .tbl .row {display: table-row;} */
    .ingProduct .ip-outer .bg-cover .tbl .cell {display: table-cell; vertical-align: middle; text-align: center;}
    .ingProduct .ip-outer .bg-cover .tbl .cell .in {display: inline-block; z-index: 1; width: 180px; height: 180px; background: rgb(14, 26, 38, .65); border-radius: 50%; line-height: 180px; font-size: 30px; color: #fff;}
    .ingProduct .ip-outer.end .bg-cover {display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0, .3);}
	.ingProduct .ip-outer.end .bg-cover {display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
	.ingProduct .row-btn {margin-top: 50px; text-align: center;}
	.ingProduct .row-btn .btn-more {display: inline-block; }
	.ingProduct .row-btn .btn-more .ic-bArrow:after {top: -10px; width: 30px; height: 30px; border-width: 5px; border-color: #90959A;}
    
	.rate {background: #fff; border-top: 1px solid rgb(205,205,205);}
	.rate .inner {text-align: center; padding: 60px 0 75px;}
	.rate .inner .cmt {position: absolute; bottom: 30px; right: 20px; font-size: 14px; color: #555; letter-spacing: normal;}
	.rate .inner .row {display: table; width: 100%;}
	.rate .rr {display: table-cell; width: auto; padding: 0 30px; box-sizing: border-box;}
	.rate .rr.nth-1 {width: 24%}
	.rate .rr.nth-2 {width: 24%}
	.rate .rr.nth-3 {width: 24%}
	.rate .rr.nth-4 {width: 15%}
	.rate .rr.nth-5 {width: 13%}
	.rate .rr .r-f, .r-f2 {position: relative; text-align: center;}
	.rate .rr .r-f {padding-bottom: 20px; font-size: 20px; color: #333;}
	.rate .rr .r-f:after {content: ''; display: block; position: absolute; bottom: 0; left: 50%; margin-left: -12.5px; width: 25px; height: 2px; background: #444;}
	.rate .rr .r-f .q-w {position: absolute; top: 0px; display: inline-block; margin-left: 4px; width: 22px; height: 22px; border-radius: 50%; background: #398fe1; line-height: 1.2; text-align: center; cursor: pointer;}
	.rate .rr .r-f .q {position: relative; display: block; left: 0px; color: #fff; font-weight: 600; font-family: "Nanum Square", sans-serif;}
	.rate .rr .r-f .q .q-t {display: none; position: absolute; width: 150px; left: -62px; bottom: 30px; color: #333; font-weight: 400; background: #fff; box-sizing: border-box; border: 1px solid #398fe1; border-radius: 1px; text-align: left; line-height: 1.2em; font-size: 16px; padding: 8px; font-size: 13px; letter-spacing: -0.5px;}
	.rate .rr .r-f .q:hover .q-t {display: block;}
	.rate .rr .r-f2 {margin-top: 23px; font-size: 32px; color: #398fe1;}
	.rate .rr .r-f2 [id^='n'] {font-weight: 700;}

	.miripayBn {position: relative; background: #7c88ff; padding: 11px 0; text-align: center;}

	.easy {padding: 130px 0; background: #09345f; color: #fff;}
	.easy h1 {font-weight: 500; margin-bottom: 20px; letter-spacing: normal;}
	.easy .inner {}
	.easy .split {float: left; position: relative; width: 50%; box-sizing: border-box; text-align: center;}
	.easy .split.split-1 {width: 53%;}
	.easy .split.split-1 .p-1 {font-size: 20px; line-height: 1.5; font-weight: 300; letter-spacing: normal;}
	.easy .split.split-1 .row-btn {margin-top: 60px;}
	.easy .split.split-1 .row-btn .btn-detail {display: inline-block; width: 250px; font-size: 20px; line-height: 58px; background: #398fe1; box-sizing: border-box;}
	.easy .split.split-2 {width: 47%;}
	.easy .split.split-2 .box {position: relative; width: 450px; margin: 25px auto 0; line-height: 94px; font-size: 24px; border: 1px solid #fff; border-radius: 10px; box-sizing: border-box;}
	.easy .split.split-2 .box:first-child {margin-top: 0;}
	.easy .split.split-2 .box strong {position: relative; display: inline-block; color: #398fe1; line-height: 2;}
	.easy .split.split-2 .box strong:after {content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background: #398fe1;}
	.easy .split.split-2 .box.nth-1:after,
	.easy .split.split-2 .box.nth-2:after {content: ''; z-index: 1; position: absolute; bottom: -38px; left: 50%; margin-left: -24px; width: 48px; height: 48px; background: url('https://nurifunding.co.kr/img/renew/main/m_plus.png') no-repeat;}
	
	.benefit {padding: 130px 0 90px; background: #e1f3ff;}
	.benefit h1 {margin-bottom: 20px; letter-spacing: normal;}
	.benefit .inner {}
	.benefit .split {float: left; position: relative; width: 50%; box-sizing: border-box; text-align: center;}
	.benefit .split.split-1 .p-1 {font-size: 20px; line-height: 1.5; font-weight: 300; letter-spacing: normal;}
	.benefit .split.split-1 .row-btn {margin-top: 60px;}
	.benefit .split.split-1 .row-btn .btn-detail {display: inline-block; width: 250px; font-size: 20px; line-height: 58px; border: 1px solid #05315d; box-sizing: border-box; color: #05315d;}
	.benefit .split.split-2 {}
	/* .benefit .split.split-2 .per-chart .box {display: inline-block; position: relative; width: 110px; vertical-align: bottom;} */
	.benefit .split.split-2 .per-chart {position: relative; margin: 0 auto; width: 520px; height: 285px; border-bottom: 4px solid #002B4B;}
	.benefit .split.split-2 .per-chart .box {position: absolute; bottom: 0px; left: 0; width: 110px;}
	.benefit .split.split-2 .per-chart .box.nth-1 {left: 10px;}
	.benefit .split.split-2 .per-chart .box.nth-2 {left: 140px;}
	.benefit .split.split-2 .per-chart .box.nth-3 {left: 270px;}
	.benefit .split.split-2 .per-chart .box.nth-4 {left: 400px;}
	.benefit .split.split-2 .per-chart .box .p-per, 
	.benefit .split.split-2 .per-chart .box .p-tit {font-size: 12.5px; text-align: center; word-break: keep-all;}
	.benefit .split.split-2 .per-chart .box .p-per {position: relative; margin-bottom: 10px; font-size: 24px; color: #022f4c;}
	.benefit .split.split-2 .per-chart .box .p-tit {position: absolute; bottom: -30px; width: 100%; font-size: 18px;}
	.benefit .split.split-2 .per-chart .box .p-chart {
		display: inline-block; position: relative; width: 100%; height: 0; vertical-align: bottom; background: #5a7383;
		transition: all 1s; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s;
	}
	.benefit .split.split-2 .per-chart .box.box-nuri .p-per {z-index: 1; color: #fff; margin-bottom: 0; bottom: -40px;} 
	.benefit .split.split-2 .per-chart .box.box-nuri .p-tit {color: #398fe1;}
	.benefit .split.split-2 .per-chart .box.box-nuri .p-chart {background: #398fe1; height: 0;}
	.benefit .split.split-2 .per-chart .box.box-nuri .p-chart:before {content: ''; display: block; position: absolute; top: -150px; left: -25px; width: 1px; border: 80px solid transparent; border-bottom-color: #398fe1;}

	.benefit .split.split-2 .per-chart .box.nth-1 .p-chart {height: 32px; height: 0;}
	.benefit .split.split-2 .per-chart .box.nth-2 .p-chart {height: 42px; height: 0;}
	.benefit .split.split-2 .per-chart .box.nth-3 .p-chart {height: 115px; height: 0;}
	.benefit .split.split-2 .per-chart .box.nth-4 .p-chart {height: 220px; background: #398fe1; height: 0;}

	.ie8 .benefit .split.split-2 .per-chart .box.nth-1 .p-chart {height: 32px;}
	.ie8 .benefit .split.split-2 .per-chart .box.nth-2 .p-chart {height: 42px;}
	.ie8 .benefit .split.split-2 .per-chart .box.nth-3 .p-chart {height: 115px;}
	.ie8 .benefit .split.split-2 .per-chart .box.nth-4 .p-chart {height: 220px;}

	.faq {background: #dae7f3;}
	.fq-outer {margin-top: 30px;}
	.fq-box {padding: 20px 15px; background: #fff;}
	.fqh3, .fq-a {position: relative; padding-left: 40px;}
	.fqh3 {padding-bottom: 15px; border-bottom: 1px solid #e5e5e5; font-size: 18px; line-height: 1.2em; letter-spacing: 0; min-height: 58px;}
	.fq-a {padding-top: 13px; font-size: 16px; line-height: 1.3em; min-height: 116px;}
	.q-icon, .a-icon {position: absolute; top: 0; left: 0; width: 30px; height: 33px;}
	.q-icon {background-position: -100px; top: 4px;}
	.a-icon {background-position: -150px; top: 18px;}
	.fq-btn-outer {margin: 50px auto 0px;}
	.fq-btn-box {text-align: center;}
	.fq-btn {display: inline-block; width: 65%; border:1px solid #dcdcdc; line-height: 2.8em; font-size: 20px; background: #126cc3; color: #fff;}

	/* 180510_코스닥 벤처펀딩_다솜 */
	.vcfund {padding:65px 0 70px; text-align:center; background: #fff;}
	.vcfund .vf-tit-1 {position:relative; margin-bottom:10px; padding-bottom:15px; font-size:26px;}
	.vcfund .vf-tit-1:after {content:''; display:block; position:absolute; width:120px; height:1px; bottom:0; left:50%; margin-left:-60px; background:#a6a6a6}
	.vcfund .vf-tit-2 {margin-top:10px; font-size:26px;}
	.vcfund .vf-box {margin-top:45px}
	.vcfund .vf-box p {word-break:keep-all; line-height:30px;}
	.vcfund .vf-box .vf-txt-1 {font-size:24px;}
	.vcfund .vf-box .vf-txt-2 {font-size:18px;}

	/* 180625_수익률 하단 텍스트 추가_다솜 */
	.benefit .benefit-b-txt {margin-top:25px; font-size: 16px; text-align:center; line-height: 1.3em; color: #232323;}

}

/*pc 영역*/
@media (min-width: 1200px){


}