<div class="modal-mask hidden-mdlg modal-fstvisit">
    <div class="modal-wrapper">
        <div class="modal-container">
            <div class="modal-header">
                <h3>처음 방문 하셨나요?</h3>
                <p class="modal-cmt">성공 투자를 위한 첫 걸음</p>
                <input type="image" alt="닫기" src="https://nurifunding.co.kr/img/renew/common/icon/icon_close.png" class="btn-cls" data-dismiss="modal">
            </div>
            <div class="modal-body">
                <div class="img-box">
                    <img src="https://nurifunding.co.kr/img/renew/m/main/bnr_startguide.jpg" alt="투자시작하기">
                    <p class="sr-only">성공투자를 위한 과정: 회원가입 -> 투자계좌 개설 -> 투자금 입금 -> 투자상품 선택 후 투자 -> 수익금정산 수익율 평균 10% -> 투자 시작하기</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="aprnone-btn btn-base btn-marine" data-dismiss="modal"><span>회원가입</span></button>
            </div>
        </div>
    </div>
</div>